.header {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 20px 0;
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
  background: #ffffff;
}

.headerIcon {
  margin-right: 16px;
  color: #999999;
  font-size: 16px;
}

.stepsBox {
  padding: 36px 180px 24px;
  background: #ffffff;
}

.steps {
  font-size: 18px;

  :global {
    .ant-steps-item-content {
      display: inline-flex;
      align-items: center;
      height: 100%;

      .ant-steps-item-title {
        padding-left: 12px !important;
        font-size: 18px !important;
      }
    }

    .ant-steps-item-active {
      .ant-steps-item-title {
        font-weight: bold !important;
      }
    }
  }
}

.stepIcon {
  font-size: 40px;
}

.stepActiveIcon {
  font-size: 40px;
}

.content {
  padding: 0 30px;
  background: #ffffff;
}

.orderInfo {
  padding: 20px 16px;
  border: 1px solid #efefef;
}

.orderTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderTopText {
  padding-bottom: 10px;
  color: #333333;
  font-weight: bold;
  font-size: 16px;
}

.orderTopCount {
  font-weight: bold;
  font-size: 24px;
}

.orderTopRedCount {
  color: #e81414;
}

.orderBasic {
  display: flex;
  align-items: center;
  color: #999999;
  font-size: 14px;
}

.between {
  justify-content: space-between;
}

.orderText {
  padding-right: 128px;

  &:nth-last-child(1) {
    padding-right: 0;
  }
}

.orderValue {
  padding-left: 20px;
  color: #333333;
  font-size: 14px;
}

.orderCount {
  padding-left: 20px;
  color: #333333;
  font-size: 14px;
}

.loadingGIf {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -140%);
}

.loadingGIfImg {
  display: block;
  width: 120px;
}
