.taipans {
  width: 300px !important;
}
.table {
  :global {
    .ant-tabs-tab-btn {
      width: 110px;
      text-align: center;
    }
  }
}
.added {
  width: 100px;
  height: 37px;
  color: #1890ff;
  font-size: 12px;
  line-height: 37px;
  text-align: center;
  border: 1px solid #1890ff;
  border-radius: 5px;
}
.table {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.added {
  position: absolute;
  top: 11px;
  right: 0;
}
