.classify {
  display: flex;
  padding: 20px;
}

.left {
  position: relative;
  width: 346px;
  padding: 24px;
  background-color: #fff;
}
.right {
  flex: 1;
  margin-left: 20px;
  padding: 24px;
  background-color: #fff;
}
.table {
  margin-top: 20px;
}
.operation {
  display: flex;
  justify-content: space-between;
}
.inputSearch {
  display: flex;
  align-items: center;
}
.label {
  margin-right: 12px;
  white-space: nowrap;
}
.colorName {
  margin-left: 40px;
}
.colorBtn {
  margin-right: 20px;
  color: #3b80ff;
  border: 1px solid #3b80ff;
}
