.groupList {
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
}
.chartTitle {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 25px;
  color: #333333;
  font-weight: 500;
  font-size: 16px;

  &::before {
    display: block;
    width: 4px;
    height: 17px;
    margin-right: 12px;
    background: #3b80ff;
    border-radius: 3px;
    content: '';
  }
}
.tableTitle {
  margin-top: 20px;
  padding: 8px 0;
  padding-left: 38px;
  font-weight: 500;
}
.nameBox {
  display: inline-block;
  width: 142px;
  padding: 8px 0;
  text-align: center;
}
.item {
  padding-left: 16px;
}
.indexBox {
  display: inline-block;
  width: 100px;
  padding: 8px 0;
  text-align: center;
}
.bgColor {
  background-color: #fafafa;
}
