@import '@/css/common.less';

.orderTab {
  width: 100%;
  margin-top: 20px;
  background-color: @white;
}
.orderInfo {
  padding: 20px;
}
.orderInfoLabel {
  padding-right: 12px;
}
.orderInfoCol {
  padding: 8px 0;
}
.processingInstruction {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.instructionImg {
  width: 70%;
  margin: 20px 0;
}
