.title {
  width: 665px;
  height: 50px;
  min-height: 20px;
  margin-bottom: 24px;
  color: rgb(0 0 0 / 47%);
}

.hidden {
  width: 340px;
  margin-bottom: 24px;
  overflow: hidden;
  color: rgb(0 0 0 / 47%);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content {
  margin-left: 106px;

  color: rgb(21, 20, 20);
}
.delivery {
  margin-left: 120px;
  color: rgb(21, 20, 20);
}

.text {
  float: left;
  width: 362px;
  margin-left: 100px;
  color: #151414;
}
.textLeft {
  float: left;
  width: 65px;
}
