@import '@/css/common.less';

@rightWidth: 600px;
@banner: 'http://capacity-platform.oss-cn-hangzhou.aliyuncs.com/capacity-platform/20210713/31bb1afd955c4450931f71e523707119.png';

.content {
  display: flex;
  width: 100vw;
}

.banner {
  flex: 1;
  background: url(@banner) center center no-repeat;
  background-size: cover;
}

.right {
  width: @rightWidth;
  padding: 200px 80px 0;
  background: #ffffff;

  :global {
    .ant-input-affix-wrapper {
      border: none !important;
      border-bottom: 1px solid #e4e4e4 !important;
      outline: none !important;
      box-shadow: none !important;
    }

    .ant-form-item-control {
      margin-bottom: 20px;
    }

    .ant-input {
      padding-left: 12px !important;
    }

    .ant-tabs-tab-active {

      .ant-tabs-tab-btn {
        color: #333333 !important;
        font-size: 20px !important;
        font-weight: bold !important;
      }
    }

    .ant-tabs-nav-list {
      display: flex;
      width: 100% !important;
    }

    .ant-tabs-tab {
      height: 55px !important;
      flex: 1;
      justify-content: center;
    }

    .ant-tabs-ink-bar {
      transform: translateX(10px);
      height: 4px !important;
      width: 80px !important;
      border-radius: 10px !important;
    }

    .ant-form-item {
      height: 58px !important;
      margin-bottom: 24px !important;
    }
  }
}

.userLogin {
  :global {
     .ant-tabs-ink-bar {
      transform: translateX(60px);
    }
  }
}

.phoneLogin {
 :global {
     .ant-tabs-ink-bar {
      transform: translateX(64px);
    }
  }
}

.input {
}

.icon {
  color: #333333;
  font-size: 20px;
}

.loginOperation {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 40px;
}

.btn {
  width: 100%;
  height: 40px;
}

.verificationBox {
  display: flex;
}

.registerBtn {
  display: block;
  margin: 16px auto 0;
}

.rightContent {
  padding-top: 48px;
}

.errorText {
  // height: 34px;
  padding-top: 12px;
  color: #e81414;
  font-size: 14px;
  visibility: hidden;
}

.errorIcon {
  margin-right: 8px;
  font-size: 14px;
}

.showError {
  visibility: visible;
}

.otherLogin {
  display: flex;
  padding-top: 56px;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;

  &::before {
    margin-right: 12px;
    display: block;
    content: '';
    width: 60px;
    height: 1px;
    background: #E4E4E4;
  }

  &::after {
    margin-left: 12px;
    display: block;
    content: '';
    width: 60px;
    height: 1px;
    background: #E4E4E4;
  }
}

.otherIcon {
  font-size: 40px;
}

.otherBox {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgetPwd {
  cursor: pointer;
}

.resetBox {
  width: 600px;
  padding: 160px 0 0 80px;
  background: #ffffff;

   :global {
    .ant-input-affix-wrapper {
      border: none !important;
      border-bottom: 1px solid #e4e4e4 !important;
      outline: none !important;
      box-shadow: none !important;
    }

    .ant-form-item-control {
      margin-bottom: 20px;
    }

    .ant-input {
      padding-left: 12px !important;
    }
  }
}

.title {
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.resetForm {
  width: 320px;
}

.resetBtnBox {
  display: flex;
  justify-content: space-between;
}

.resetBtn {
  width: 40%;
  height: 40px;
}
