@import '@/css/common.less';

@rightWidth: 700px;
@banner: 'http://capacity-platform.oss-cn-hangzhou.aliyuncs.com/capacity-platform/20210727/cd6433f728514d839f433b5fc5fcabfb.png';

.content {
  display: flex;
  width: 100vw;
}

.banner {
  flex: 1;
  background: url(@banner) center center no-repeat;
  background-size: cover;
}

.right {
  width: @rightWidth;
  padding: 200px 80px 0;
  background: #ffffff;

  :global {
    .ant-input-affix-wrapper {
      border: none !important;
      border-bottom: 1px solid #e4e4e4 !important;
      outline: none !important;
      box-shadow: none !important;
    }

    .ant-form-item-control {
      margin-bottom: 20px;
    }

    .ant-input {
      padding-left: 12px !important;
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: #333333 !important;
        font-weight: bold !important;
        font-size: 20px !important;
      }
    }

    .ant-tabs-nav-list {
      display: flex;
      width: 100% !important;
    }

    .ant-tabs-tab {
      flex: 1;
      justify-content: center;
      height: 55px !important;
    }

    .ant-tabs-ink-bar {
      width: 80px !important;
      height: 4px !important;
      border-radius: 10px !important;
      transform: translateX(10px);
    }

    .ant-form-item {
      height: 58px !important;
      margin-bottom: 24px !important;

      &:nth-last-child(1) {
        margin-bottom: 0 !important;
      }
    }
  }
}

.userLogin {
  :global {
    .ant-tabs-ink-bar {
      transform: translateX(88px);
    }
  }
}

.phoneLogin {
  :global {
    .ant-tabs-ink-bar {
      transform: translateX(88px);
    }
  }
}

.input {
}

.icon {
  color: #333333;
  font-size: 20px;
}

.loginOperation {
  display: flex;
  justify-content: space-between;
  padding: 0 0 32px;
}

.btn {
  width: 100%;
  height: 40px;
}

.verificationBox {
  display: flex;
}

.registerBtn {
  display: block;
  margin: 16px auto 0;
}

.rightContent {
  padding-top: 48px;
}

.errorText {
  color: #ff4d4f;
  font-size: 14px;
  visibility: hidden;
}

.errorIcon {
  margin-right: 8px;
  font-size: 14px;
}

.showError {
  visibility: visible;
}

.otherLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 22px;
  padding-top: 56px;
  color: #999999;
  font-weight: 400;
  font-size: 14px;

  &::before {
    display: block;
    width: 60px;
    height: 1px;
    margin-right: 12px;
    background: #e4e4e4;
    content: '';
  }

  &::after {
    display: block;
    width: 60px;
    height: 1px;
    margin-left: 12px;
    background: #e4e4e4;
    content: '';
  }
}

.otherIcon {
  font-size: 40px;
}

.otherBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.forgetPwd {
  cursor: pointer;
}

.resetBox {
  width: 700px;
  padding: 160px 80px;
  background: #ffffff;

  :global {
    .ant-input-affix-wrapper {
      border: none !important;
      border-bottom: 1px solid #e4e4e4 !important;
      outline: none !important;
      box-shadow: none !important;
    }

    .ant-form-item-control {
      margin-bottom: 20px;
    }

    .ant-input {
      padding-left: 12px !important;
    }
  }
}

.title {
  margin-bottom: 48px;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
}

.resetForm {
  // width: 320px;
}

.resetBtnBox {
  display: flex;
  justify-content: space-between;
}

.resetBtn {
  width: 40%;
  height: 40px;
}
