.count {
  margin-left: 56px;
}
.counts {
  margin-left: 56px;
  color: #3b80ff;
}
.left {
  height: 40px;
  margin-left: 30px;
  line-height: 40px;
}
.position {
  line-height: 89px;
}
.complete {
  line-height: 90px;
}
.emptys {
  margin-top: 70px;
  text-align: center;
}
.completionime {
  line-height: 96px;
  text-align: center;
}

.empty {
  width: 140px;
  height: 140px;
}
.overflow {
  width: 126px;
  height: 20px;
  overflow: hidden;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  line-height: 20px;
  white-space: nowrap;
}
.move {
  margin-top: 70px;
}
Button {
  margin-bottom: 10px;
}
.check {
  position: absolute;
  top: 82px;
  left: 2px;
}
.color {
  color: #999999;
}
.hand {
  color: #3b80ff;
}

.ayer {
  overflow: hidden;
  background: #ffff;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.receiving {
  color: #999999;
  font-size: 12px;
}
.surplus {
  color: #333333;
  font-size: 14px;
}
.time {
  color: #333333;
}
.confirmed {
  color: red;
  line-height: 89px;
}
.button {
  display: block;
  margin-top: 20px;
  margin-left: 53px;
}
.kuangszsax {
  color: #45cb77;
  line-height: 50px;
}
.order {
  line-height: 50px;
}
.Returnorder {
  color: red;
  line-height: 50px;
}
.theme {
  margin-top: 20px;
  margin-bottom: 20px;
}
.kuangsz {
  text-align: center;
}
.btn {
  margin-left: 53px;
  font-size: 12px;
}
.day {
  color: red;
  font-size: 20px;
}
.themeatx {
  margin-top: 20px;
  background: #f6f6f6;
}
.imgs img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-left: 20px;
}
