.btnBox {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.btnBoxRight {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
}

.errorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}

.menuIcon {
  margin-bottom: 12px;
  font-size: 40px;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.text {
  font-size: 14px;
}

.errorBtns {
  display: flex;
  justify-content: space-between;
  width: 216px;
  margin: 24px auto 0;
}

.statusBtn {
  width: 98px;
  height: 32px;
}

.statusBtnBox {
  margin: 24px auto 0;
}
