.cardContainer {
    width: 19.5%;
    margin: 20px 0.25%;
    cursor: pointer;
    border: 1px solid #efefef;
}

.orderImg {
    width: 100%;
    height: auto;
}

.orderTitle {
    margin: 8px;
    font-size: 15px;
}

.amount {
    font-size: 20px;
    color: #d9001b;
}

.orderList {
    padding: 8px;
    list-style: none;
}

.orderFooter {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid #efefef;
}
