.cardContainer{
  width: 19.5%;
  border: 1px solid #efefef;
  margin: 20px 0.25%;
  cursor: pointer;
}
.orderImg{
  width: 100%;
  height: auto;
}
.orderTitle{
  margin: 8px;
  font-size: 15px
}
.amount{
  font-size: 20px;
  color: #D9001B;
}
.orderList{
  list-style: none;
  padding: 8px;
}
.orderFooter{
  border-top: 1px solid #efefef;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  color: rgba(0,0,0,0.6);
  font-size: 12px;
}