.overviewCard {
  padding: 30px;
  background-color: #fff;
}
.title {
  margin-bottom: 16px;
  font-weight: bold;
}
.content {
  display: flex;
}
.contentLeft {
  flex: 2;
}
.contentRight {
  display: flex;
  flex: 1;
  align-items: center;
}
.offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  padding: 16px;
  background-color: #f2f7ff;
}
.leftItem {
  padding: 6px 0;
}
.cardValue {
  width: 80px;
}
