.factoryPhotograph {
  margin-top: 20px;
}
.row {
  margin: 30px 0;
}
.image {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 12px 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.loading {
  margin: 20% 44% !important;
}
.colLabel {
  text-align: right;
}
