.contentTitle {
  width: 100%;
  border-bottom: 1px solid #efefef;
  display: flex;
  padding: 8px;
}
.titleItem {
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.active {
  color: #ec808d;
}
