@import '@/css/common.less';

.registerContainer {
  width: 100%;

  :global {
    .ant-form-item {
      height: 64px !important;
      margin-bottom: 0 !important;
    }
  }
}

.content {
  width: 700px;
  padding: 120px 80px;
  background: #ffffff;

  :global {
    .ant-input {
      height: 40px;
    }

    .nc_scale {
      width: 320px !important;
      height: 40px !important;
    }

    .btn_slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px !important;
    }

    .nc-lang-cnt {
      height: 40px !important;
      line-height: 40px !important;
    }

    .nc-container .nc_scale .btn_ok {
      height: 40px !important;
      line-height: 40px !important;
    }

    .nc-container .nc_scale .btn_ok {
      color: @blueBg !important;
    }

    .nc_bg {
      background: @blueBg !important;
    }
  }
}

.form {
  // width: 320px;

  :global {
    .ant-input-affix-wrapper {
      padding-left: 0 !important;
      border: none !important;
      border-bottom: 1px solid #e4e4e4 !important;
      outline: none !important;
      box-shadow: none !important;
    }

    .ant-input {
      padding-left: 12px !important;
    }

    .ant-form-item-control {
      height: 65px !important;
    }

    .ant-form-item {
      margin-bottom: 12px !important;
    }

    .ant-form-item-explain.ant-form-item-explain-error {
      padding-top: 12px;
    }
  }
}

.title {
  margin-bottom: 48px;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
}

.agreeBtn {
  width: 100%;
  height: 40px;
  margin-top: 24px;
  font-size: 16px;
}

.blueBtn {
  background: #237eff !important;
  border-color: #237eff !important;
}

.fastLogin {
  // width: 320px;
  padding: 16px;
  text-align: center;

  span {
    cursor: pointer;
  }
}

.verifyBtn {
  width: 102px !important;
  height: 32px !important;
  height: inherit;
}

.icon {
  font-size: 20px;
}

.verifyBtnBox {
  display: flex;
  width: 100%;
  align-items: center;

  :global {
    .ant-input {
      height: 32px;
    }
  }
}
