.title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #0e0d0d;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
}

.titleLine {
  width: 4px;
  height: 17px;
  margin-right: 20px;
  color: #333333;
  font-weight: 400;
  background: #3b80ff;
  border-radius: 3px;
}
.prev {
  margin-right: 16px;
  margin-left: 30px;
}
.top {
  width: 1200px;
  height: 72px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 72px;
  background: #ffffff;
}
.go {
  cursor: pointer;
}
.subject {
  padding: 30px;
  background: #ffffff;
}
.double {
  width: 1200px;
  height: 134px;
}
.form {
  position: fixed;
  bottom: 1px;
  width: 1200px;
  margin-top: 20px;
  padding: 30px;
  // background: #585958;
  // box-shadow: -2px -1px 10px #888888;
  background: #f9fbff;
  box-shadow: 0px 1px 13px 0px rgba(180, 180, 180, 0.5);
}
