@import '@/css/common.less';

.enterpriseHonesty {
  padding: 40px 30px;
  background-color: #fff;
  margin-top: 20px;
}
.enterpriseContent {
  padding: 0;
  margin: 24px 0 0 0;
  overflow: hidden;
}
.contentItem {
  float: left;
  margin-right: 40px;
  display: flex;
  float: left;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  height: 58px;
}
.enterpriseIcon {
  font-size: 26px;
}
