@import '@/css/common.less';

.enterpriseHonesty {
    padding: 40px 30px;
    margin-top: 20px;
    background-color: #fff;
}

.enterpriseContent {
    padding: 0;
    margin: 24px 0 0 0;
    overflow: hidden;
}

.contentItem {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    float: left;
    float: left;
    height: 58px;
    margin-right: 40px;
}

.enterpriseIcon {
    font-size: 26px;
}
