@import '@/css/common.less';

.enterpriseInfo {
  padding: 12px 0;
  overflow: hidden;
}
.enterpriseTitle {
  margin-bottom: 20px;
  padding-left: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 16px;
  border-left: 4px solid #1890ff;
}
.enterpriseFooter {
  display: flex;
  justify-content: flex-end;
  width: 67%;
}
.cancelButton {
  margin-left: 20px;
  padding: 5px 24px;
}
.inputComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
