@import '@/css/common.less';

.enterpriseInfo {
  margin: 20px 0;
  padding: 20px 30px;
  overflow: hidden;
  font-size: 16px;
  background-color: #fff;
  :global {
    .ant-input {
      height: 40px;
    }
    .ant-select-selector {
      height: 40px;
    }
    .ant-form-item {
      margin-top: 16px;
      margin-bottom: 0 !important;
    }
    .ant-upload-list-item {
      padding: 0;
    }
    .ant-form-item-no-colon {
      // height: 100%;
      font-weight: 600;
    }
  }
}
.enterpriseTitle {
  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 16px;
  border-left: 4px solid #1890ff;
}
.enterpriseFooter {
  display: flex;
  justify-content: center;
  width: 83%;
}
.cancelButton {
  margin-left: 20px;
  padding: 5px 24px;
}
.inputComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tipBox {
  position: absolute;
  top: 155px;
  left: 227px;
  color: rgba(0, 0, 0, 0.5);
}
.button {
  width: 160px;
  height: 40px !important;
  margin-top: 20px;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.radioTip {
  color: rgba(0, 0, 0, 0.5);
}
.tip {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
}
.formLabel {
  padding-left: 10px;
}
.topTip {
  height: 70px;
  font-size: 16px !important;
}
.enterpriseInfoContent {
  :global {
    .ant-alert-warning {
      .ant-alert-message {
        color: #ffa114 !important;
      }
    }
    .ant-alert-error {
      .ant-alert-message {
        color: #ff4d4f !important;
      }
    }
    .ant-alert-success {
      .ant-alert-message {
        color: #52c41a !important;
      }
    }
  }
}
.nameTip {
  margin-top: 4px;
}
