.container {
  margin-top: 30px;
  padding: 24px 30px;
  background: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-bottom: 24px;
  background: #ffffff;
  border-bottom: 1px solid #efefef;
}

.headerLeft {
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
}

.headerLeftIcon {
  margin-right: 16px;
  color: #999999;
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
}

.headerIcon {
  margin-left: 20px;
  font-size: 32px;
  cursor: pointer;
}

.headerRight {
  display: flex;
  align-items: center;
}

.video {
  // height: 852px;
}

.videoBoxOne {
  display: flex;
  justify-content: space-between;
}

.videoSingle1 {
  width: 1136px;
}

.videoSingle {
  width: 860px;
}

.videoList {
  width: 256px;
  height: 645px;
  background: rgba(59, 128, 255, 0.05);
  padding: 45px 16px;
  overflow-y: auto;
}

.videoListItem {
  display: flex;
  align-items: center;
  padding: 14px;
  cursor: pointer;
  font-size: 16px;
}

.activeVideoItem {
  color: #3B80FF;
  background: #E5ECFF
}

.videoIcon {
  margin-right: 10px;
  font-size: 16px;
  color: #999999;
}

.activeVideoIcon {
  margin-right: 10px;
  font-size: 16px;
  color: #3B80FF;
}

.videoBoxFour{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.videoFourItem {
  width: 556px;
  height: 417px;
  margin-bottom: 24px;
}

.videoOutBoxFour {
  min-height: 882px;
}

.videoOutBoxNine {
  min-height: 864px;
}

.videoBoxNine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.videoNineItem {
  width: 362px;
  height: 272px;
  margin-bottom: 24px;
}

.singleEmpty {
  width: 1136px;
  height: 852px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 369px;
  background: #333;
}

.mask9 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 224px;
  background: #333;
}
