.container {
  margin-top: 30px;
  padding: 24px 30px;
  background: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-bottom: 24px;
  background: #ffffff;
  border-bottom: 1px solid #efefef;
}

.headerLeft {
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
}

.headerLeftIcon {
  margin-right: 16px;
  color: #999999;
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
}

.headerIcon {
  margin-left: 20px;
  font-size: 32px;
  cursor: pointer;
}

.headerRight {
  display: flex;
  align-items: center;
}

.video {
  height: 852px;
}
