.moveChartBox {
  box-sizing: border-box;
  width: 700px;
  height: 360px;
  padding: 20px 30px 0;
  background: #ffffff;
}

.moveChart {
  height: 300px;
}

.legendBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.squareLegendBox {
  display: flex;
  align-items: center;
  margin-left: 48px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}

.lineLegendBox {
  display: flex;
  align-items: center;
  margin-left: 48px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}

.squareLegend {
  width: 10px;
  height: 10px;
  margin-right: 12px;
  background: #6395f9;
}

.lineLegend {
  width: 10px;
  height: 4px;
  margin-right: 12px;
  background: #30c5c5;
}

:global {
  .chart7Tpl {
    padding: 12px 12px 16px;
    font-weight: bold;
    font-size: 16px;

    .tplTitle {
      margin-bottom: 16px;
    }

    .tpl {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }

    .tpl1 {
      margin-right: 8px;
      padding-bottom: 2px;
      color: #f59a23;
      font-weight: bold;
      font-size: 24px;
    }

    .tpl2 {
      margin-right: 8px;
      padding-bottom: 2px;
      color: #6395f9;
      font-weight: bold;
      font-size: 24px;
    }

    .tpl3 {
      margin-right: 8px;
      padding-bottom: 2px;
      color: #30c5c5;
      font-weight: bold;
      font-size: 24px;
    }

    .tpl4 {
      margin-right: 8px;
      padding-bottom: 2px;
      color: #30c5c5;
      font-weight: bold;
      font-size: 24px;
    }
  }
}
