.pieChartBox {
  width: 480px;
  height: 360px;
  padding: 20px 30px 0;
  background: #ffffff;
}

.pieChartContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.pieChartInfo {
  flex-direction: column;
}

.pieChart {
  width: 230px;
  height: 220px;
  background: #ffffff;
}

.countInfo {
  padding-bottom: 40px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;

  .count {
    padding-right: 8px;
    font-weight: bold;
    font-size: 32px;
    font-family: monospace;
  }
}

.chartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #e8e8e8;
}

.chartTitle {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 25px;
  color: #333333;
  font-weight: bold;
  font-size: 18px;

  &::before {
    display: block;
    width: 4px;
    height: 17px;
    margin-right: 24px;
    background: #3b80ff;
    border-radius: 3px;
    content: '';
  }
}

.chartDesc {
  padding-left: 8px;
  color: #999999;
  font-weight: normal;
  font-size: 16px;
}
