.pinNumberBox {
  width: 386px;
  height: 330px;
  margin-top: 20px;
  padding: 20px 30px 0;
  background: #ffffff;
}

.monthProduceChartContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.monthProduceChartInfo {
  padding-top: 30px;
}

.monthProduceChart {
  height: 270;
}
