@import '@/css/common.less';

.order {
  width: 100%;
  background: @containerBg;
}
.orderContainer {
  width: 1200px;
  margin: 0 auto;
}
.orderContent {
  width: 100%;
  background-color: #fff;
  padding: 12px;
  margin-top: 24px;
}

.orderLists {
  display: flex;
  flex-wrap: wrap;
}
.paging {
  text-align: right;
  padding-bottom: 8px;
}
