.data {
  margin-top: 20px;
  background: #fff;
}
.dataTop {
  padding: 20px;
}
.title {
  margin-bottom: 20px;
  padding-left: 20px;
  font-weight: 600;
  font-size: 16px;

  border-left: 4px solid #1890ff;
}
.division {
  border: 1px solid #e8e8e8;
}
.briefIntroduction {
  font-size: 16px;
  line-height: 30px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 25px;
  margin-right: 5px;
  border: 1px solid #f0f0f0;
}

.name {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.test {
  margin-right: 10px;
  font-weight: 600;
  font-size: 16px;
}
.previous {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 13px;
}

.content {
  padding-top: 20px;
}

.otherCard {
  width: 100%;
  margin-top: 20px;
  padding: 30px;
  background-color: #fff;
}
.swiperContainer {
  position: relative;
}

.orderSwiper {
  display: flex;
  width: 1140px !important;
  // height: 246px;
  margin: 0 auto;
  overflow: hidden;
}

.disableIcon {
  color: #c4c4c4 !important;
}
.operation {
  text-align: center;
}
.operationIcon {
  margin: 0 12px;
  color: #999999;
  font-size: 24px;
}
