.img {
  width: 1200px;
  height: 320px;
}
.cooperation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 96px;
  color: #333333;
  font-size: 14px;
  background: #fff;
}
.data {
  background: #fff;
}
.contentStyle {
  height: 160px;
  color: '#fff';
  line-height: 160px;
  text-align: 'center';
  background: '#364d79';
}

.title {
  margin-bottom: 20px;
  padding-left: 20px;
  font-weight: 600;
  font-size: 16px;

  border-left: 4px solid #1890ff;
}
.carousel {
  :global {
    .ant-carousel .slick-dots li button {
      background: rgb(0 0 0 / 39%);
    }
    .ant-carousel .slick-dots li.slick-active button {
      background: #1890ff;
    }
  }
}

.test {
  color: #666666;
  font-size: 14px;
}
.line {
  width: 100%;
  height: 1px;
  background: #d9d9d9;
}

.dataTop {
  padding: 20px;
}
.color {
  margin-right: 5px;
  margin-left: 5px;
  color: cornflowerblue;
  cursor: pointer;
}
.yuan {
  width: 5px;
  height: 5px;
  margin-right: 5px;
  background: cornflowerblue;
  border-radius: 100%;
}

.outerCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid cornflowerblue;
  border-radius: 20px;
}
.circle {
  width: 10px;
  height: 10px;
  background: cornflowerblue;
  border-radius: 10px;
}
.commoditysTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 300px;
}
.commodity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}
.commodityData {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}
.commoditys {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
}

.textOverflow {
  width: 173px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}
.timeColor {
  color: #999999;
  font-size: 14px;
}
.timeFont {
  font-weight: 600;
  font-size: 18px;
}
.bottom {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.previous {
  font-size: 60px;
}
.tex {
  margin-right: 5px;
  font-weight: 600;
  font-size: 20px;
}
