.demand {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #ffff;
}
.information {
  height: 200px;
}
.formConfirm {
  width: 514px;
  margin: 0 auto;
  margin-top: 30px;
}
.button {
  width: 151px;
  height: 42px;
  margin-right: 50px;
}
.commodity {
  position: relative;
}
.payment {
  position: absolute;
  bottom: 138px;
  left: 105px;
  width: 271px;
  color: #6b6a6a;
  font-size: 12px;
}
.extension {
  position: absolute;
  bottom: 3px;
  left: 100px;
  color: #6b6a6a;
  font-size: 12px;
}
