.companiesIntroduce {
  width: 1200px;
  margin: auto;
  margin-top: 100px;
  padding: 40px;
  color: #333333;
  background-color: #fff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff0f0f0;
}
.textCn {
  margin-right: 12px;
  color: #333333;
  font-weight: 500;
  font-size: 28px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.textEn {
  color: #999999;
  font-weight: 400;
  font-size: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
}
.content {
  padding: 24px 0;
}
.name {
  margin-right: 12px;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.content {
  padding: 20px 0;
  list-style: none;
  :global {
    li {
      display: flex;
      padding: 6px 12px;
    }
  }
}
.product {
  display: flex;
  align-items: flex-start;
}
.left {
  display: flex;
  flex: 1;
  align-items: center;
}
.right {
  display: flex;
  flex: 3;
  align-items: center;
}
.classes {
  padding: 0;
  list-style: circle;
  :global {
    li {
      padding-left: 0;
    }
  }
}
.classesLi {
  display: flex;
}
.classesSubtitle {
  width: 150px;
}
.strong {
  display: contents;
  font-weight: bold;
  font-size: 20px;
}
.details {
  display: flex;
}
.tooltipBpx {
  width: 364px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon {
  margin-right: 30px;
  font-size: 36px;
}
