.filterList{
  width: 100%;
  background-color: #fff;
  margin-top: 12px;
}
.classification{
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 30px;

}
.classificationLabel{
  margin-right: 24px;
}
.classificationSpan{
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.active{
  background-color: rgba(129, 211, 248, 1);
  color: #fff;
}
.activeTab{
  padding: 5px 8px;
}
.moreSelect{
  width: 120px;
  margin-right: 12px;
}