.accountBox {
  padding-bottom: 32px;
}

.title {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.titleLine {
  width: 4px;
  height: 17px;
  margin-right: 20px;
  background: #3b80ff;
  border-radius: 3px;
}

.accountInfo {
  height: 308px;
  padding: 30px 30px 16px;
  background: #ffffff;
  border-radius: 4px;
}

.changeNameItem {
  display: flex;
  align-items: flex-end;
  height: 32px;
  margin-bottom: 32px;
}

.changeItem {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  .changeText {
  width: 200px !important;
  padding: 0 !important;
  font-size: 16px;
  border: none !important;
  outline: none !important;

  &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
}

.changeLabel {
  width: 64px;
  margin-right: 56px;
  font-size: 16px;
}

.changeText {
  width: 200px !important;
  font-size: 16px;
}

.changeNameBox {
  display: flex;
}

.changeBtn {
  height: inherit;
}

.changeName {
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.cText {
  height: 30px;
  padding: 4px 12px;
  color: #3b80ff;
  font-size: 16px;
  line-height: 22px;
  background: #dee9ff;
  border-radius: 4px;
  cursor: pointer;
}

.infoBox {
  display: flex;
  margin-bottom: 24px;
  padding: 30px 30px 0px;
}

.avatarBox {
  width: 88px;
  margin-right: 60px;
}

.avatar {
  display: block;
  box-sizing: border-box;
  width: 88px;
  height: 88px;
  border: 1px solid #efefef;
  border-radius: 50%;
}

.avatarText {
  width: 70px;
  height: 30px;
  margin: 12px auto 0;
  color: #3b80ff;
  line-height: 30px;
  text-align: center;
  background: #dee9ff;
  border-radius: 4px;
  cursor: pointer;
}

.editIcon {
  margin-left: 16px;
  font-size: 20px;
}

.userInfoIcon {
  margin-right: 16px;
  font-size: 20px;
}

.safeSet {
  height: 408px;
  margin: 20px 0;
  padding: 30px;
  background: #ffffff;
  border-radius: 4px;
}

.safeBox {
  // width: 1000px;
  margin-bottom: 24px;
  padding: 24px 0;
}

.safeItem {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 20px 0 20px 30px;
  overflow: hidden;
  background: #f4f8ff;
  border-radius: 4px;
}

.safeImg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
  font-size: 36px;
}

.safeLabel {
  display: flex;
  align-items: center;
  margin-right: 24px;
  margin-bottom: 8px;
}

.safeLabelText {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  font-size: 16px;
  font-weight: bold;
}

.safeText {
  display: flex;
  align-items: center;
  width: 584px;
  padding: 0 16px;
  color: #333333;
  line-height: 30px;
  font-size: 16px;
}

.editBox {
  display: flex;
  align-items: center;
  min-width: 120px;
}

.editSet {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 64px;
  color: #c1c4ca;
  font-size: 12px;
  text-align: center;
  background: #e8edf5;
  transform: rotate(45deg);
}

.editSet2 {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 64px;
  color: #E81414;
  font-size: 12px;
  text-align: center;
  background: #F4EAF4;
  transform: rotate(45deg);
}

.editLeft {
  margin-right: 12px;
}

.editRight {
  width: 70px;
  height: 30px;
  color: #3b80ff;
  line-height: 30px;
  text-align: center;
  background: #dee9ff;
  border-radius: 4px;
  cursor: pointer;
}

.otherContainer {
  padding: 30px;
  height: 240px;
  background: #FFFFFF;
  border-radius: 4px;
}

.otherBox {
  display: flex;
  padding-top: 24px;
}

.otherItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 48px;
  cursor: pointer;
}

.otherUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  margin-bottom: 16px;
  // border: 1px solid #666666;
  // border-radius: 50%;
}

.otherActive {
  color: #3b80ff;
  border: 1px solid #3b80ff;
}

.otherIcon {
  margin-bottom: 20px;
  font-size: 52px;
}

.otherText {
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: #3B80FF;
  background: #DEE9FF;
  border-radius: 4px;
}

.otherTextIcon {
  margin-right: 4px;
  font-size: 16px;
}

.pwdModal {
  :global {
    .ant-form-item-label {
      width: 84px;
    }

    .ant-form-item {
      height: 56px;
      margin-bottom: 0 !important;
    }

    .ant-form-item-with-help {
      margin-bottom: 0 !important;
    }
  }
}

.pwdModal2 {
  :global {
    .ant-btn {
      &:nth-child(1) {
        display: none !important;
      }
    }
  }
}

.tips {
  font-size: 12px;
}

.forget {
  color: #027db4;
  font-size: 12px;
  cursor: pointer;
}

.successBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successImg {
  display: block;
  width: 200px;
}

.successText {
  font-weight: bold;
  font-size: 18px;
}

.pwdChangeText {
  color: #027db4;
  cursor: pointer;
}

.tips2 {
  color: #aaaaaa;
  font-size: 12px;
}

.unbindBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

.unbindImg {
  display: block;
  width: 200px;
  margin-bottom: -16px;
}
