.classify {
  display: flex;
  padding: 20px;
}

.left {
  position: relative;
  width: 346px;
  padding: 24px;
  background-color: #fff;
}
.right {
  flex: 1;
  margin-left: 20px;
  padding: 24px;
  background-color: #fff;
}
.table {
  margin-top: 20px;
}
