.searchOrder {
  width: 100%;
}
.orderContent {
  width: 1200px;
  margin: 20px auto;
}
.orderFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.orderTotal {
  color: #999999;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentLeft {
  flex: 1;
}

.contentRight {
  float: left;
  width: 29%;
  margin-left: 1%;
}

.factoryPage {
  padding-top: 12px;
  text-align: center;
}

.newFactory {
  position: relative;
}

.newFactoryImg {
  width: 100%;
}
