.basciInfo {
  margin: 20px 0;
  padding: 30px 30px 20px;
  background: #ffffff;
}

.basciContent {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0px;
}

.infoCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 150px;
  padding: 0 30px 0 22px;
  border-radius: 2px;
}

.info {
}

.infoCount {
  color: #333333;
  font-weight: 500;
  font-size: 36px;
}

.infoLabel {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}

.infoIcon {
  font-size: 68px;
}

.addCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 150px;
  color: #3b80ff;
  background: #e4eeff;
}

.addIcon {
  margin-bottom: 8px;
  font-size: 24px;
}
