.form {
  position: relative;
}

.username {
  float: left;
}
.off {
  overflow: hidden;
}
.query {
  float: left;
  margin-right: 10px;
  // align-items: center;
  // justify-content: center;
}
.issuingTime {
  height: 50px;
}
.btns {
  width: 200px;
  height: 50px;
  margin-left: 359px;
}

.right {
  float: right;
}
.btn {
  float: right;
  width: 224px;
}
.reset {
  margin-left: 20px;
}
