.form {
  position: relative;
}

.username {
  float: left;
}
.off {
  overflow: hidden;
}
.query {
  float: left;
  margin-right: 10px;
  // align-items: center;
  // justify-content: center;
}
.right {
  float: right;
  width: 222px;
  margin-right: -83px;
}
