.title {
  margin-bottom: 24px;
  color: rgb(0 0 0 / 47%);
}
.content {
  width: 100%;
  margin-left: 100px;
  color: rgb(21, 20, 20);
}
.contents {
  width: 100%;
  margin-left: 115px;
  color: rgb(21, 20, 20);
}
.hidden {
  width: 340px;
  margin-bottom: 24px;
  overflow: hidden;
  color: rgb(0 0 0 / 47%);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wu {
  margin-left: 27px;
}
.img {
  width: 120px;
  height: 120px;
  margin-left: 25px;
}
