@import '@/css/common.less';

.header {
  width: 100%;
	padding: 24px 0;
}
.container {
  width: 1200px;
  margin: auto;
	display: flex;
	align-items: center;
}
.left{
	display: flex;
	align-items: center;
	margin-right: 360px;
}
.factoryDetail {
  width: 100%;
  border-top: 1px solid #3333;
  // background: @containerBg;
}

.detailContainer {
  width: 1200px;
  margin: 20px auto;
}
.logo {
  max-width: 40px;
  max-height: 40px;
  overflow: hidden;
  border-radius: 4px;
	margin-right: 16px;
}
.name {
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.active {
  color: #3b80ff;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 3px solid #3b80ff;
	padding: 8px 0;
}

.homeContainer {
  display: none;
}

.charts {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
