.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 472px;
  background: #ffffff;
}

.icon {
  font-size: 24px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.input {
  width: 512px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 8px;
}

.nextBtn {
  width: 120px;
  height: 40px;
  margin: 100px auto 120px;
}

.statusBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0 120px;
}

.successIcon {
  margin-bottom: 24px;
  font-size: 68px;
}

.failIcon {
  margin-bottom: 24px;
  font-size: 68px;
}

.statusTitle {
  height: 25px;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
}

.statusText {
  padding-bottom: 56px;
  color: #333333;
  font-size: 14px;
}

.btn {
  width: 120px;
  height: 40px;
}

.cancelBtn {
  width: 120px;
  height: 40px;
  margin-right: 24px;
}
