.container {
}

.content {
  padding: 0 30px 32px;
  background: #ffffff;
}

.search {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.searchInput {
  width: 320px;
  height: 40px;
}

.searchBtn {
  width: 120px;
  height: 40px;
  margin-left: 20px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.btn {
  width: 120px;
  height: 40px;

  &:nth-child(1) {
    margin-right: 20px;
  }
}

.orderImg {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid #efefef;
}
