.Input {
  width: 200px !important;
}
.monitor {
  margin-top: 30px;
  padding: 15px;
  background: #fff;
}
.header {
  position: relative;
}
.query {
  position: absolute;
  top: -62px;
  left: 340px;
}
.added {
  position: absolute;
  top: -0;
  right: 0px;
  color: #3b80ff !important;
  border: 2px solid #3b80ff !important;
}
.Connection {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.btn {
  width: 120px;
  height: 40px;
  background: #cfcfcf;
  border-radius: 2px;
}
:global {
  .ant-table-pagination-right {
    float: none !important;
    text-align: center;
  }
}
