.Input {
  width: 220px !important;
  height: 40px !important;
}

.monitor {
  padding: 15px;
  background: #fff;
}
.header {
  position: relative;
}
.system {
  margin-left: 15px;
  color: #333333;
  font-size: 18px;
}
.connectok {
  height: 100px;
}
.chauxn {
  position: absolute;
  top: 7px;
  left: 343px;
  height: 29px;
  text-align: center;
}
.keynoteInput {
  position: absolute;
  top: 0;
  left: 94px;
  width: 220px;
  height: 38px;
}
.success {
  color: #45cb77;
}
.edit {
  margin-left: -23px;
  color: #3b80ff;
}
.edit:hover {
  cursor: pointer;
}
.divider {
  margin-right: -16px;
  margin-left: -16px;
}
.vertical {
  margin-left: -23px;
  color: #3b80ff;
}
.line {
  margin-left: -20px;
}
.fail {
  color: #e81414;
}
.query {
  position: absolute;
  top: -64px;
  left: 340px;
  width: 80px !important;
  height: 40px !important;
}
.tableParent {
  position: relative;
}
.totalEquipment {
  position: absolute;
  bottom: 8px;
  left: 35px;
}
.previous {
  font-size: 21px;
}
.added {
  position: absolute;
  top: -0;
  right: 0px;
  width: 120px !important;
  height: 32px !important;
  color: #3b80ff !important;
  border: 1px solid #3b80ff !important;
}
.keynote {
  line-height: 40px;
}
.equipment {
  margin-top: -3px;
  margin-bottom: 20px;
}
.inputsearch {
  width: 302px;
  margin-left: 20px;
}
.table {
  // margin-top: -60px;
}
.ok p {
  margin-top: 20px;
  text-align: center;
}
.del {
  margin-top: 5px;
  font-size: 13px;
}

.Connection {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.menuIcon {
  font-size: 48px;
}
.submit {
  position: absolute;
  bottom: -13px;
  left: -1px;
}
.cancels {
  width: 120px;
  height: 40px;
  color: #3b80ff;
  background: #fff !important;
  border: 1px solid #3b80ff;
  border-radius: 2px;
}
.cancel {
  position: absolute;
  bottom: 24px;
  left: 55px;
}
.current {
  height: 50px;
  margin-top: 15px;
}
.deleteDeviceCancels {
  width: 120px;
  height: 40px;
  margin-left: 15px;
}
.binds {
  margin-left: 133px;
}

.bind {
  width: 120px;
  height: 40px;
}
.btn {
  width: 120px;
  height: 40px;
  background: #cfcfcf;
  border-radius: 2px;
}

.oksa {
  width: 500px !important;
  height: 410px !important;
  margin: 0 auto;
}

.departments {
  display: block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
