.searchBar {
  display: flex;
  box-sizing: border-box;
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
}

.searchBarLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 60px;
  color: #3b80ff;
  font-size: 12px;
  cursor: pointer;
}

.uchatIcon {
  display: block;
  width: 120px;
}

.searchIcon {
  margin-top: 4px;
  font-size: 32px;
}

.searchContent {
  display: flex;
  align-items: center;
  width: 800px;
  height: 60px;
  padding: 0 12px;
}

.searchBarTree {
  box-sizing: border-box !important;
  width: 180px !important;
  margin-right: 8px;

  // :global {
  //   .ant-select-selector {
  //     border-right: none !important;
  //     border-top-right-radius: 0 !important;
  //     border-bottom-right-radius: 0 !important;
  //   }
  // }

  // &:hover {
  //   :global {
  //     .ant-select-selector {
  //       border-right: 1px solid #40a9ff !important;
  //     }
  //   }
  // }
}

.searchBarTreeDrop {
  z-index: 5;

  :global {
    .ant-select-tree-treenode-disabled .ant-select-tree-node-content-wrapper {
      color: inherit !important;
    }

    .anticon {
      color: #cfcfcf !important;
      font-size: 14px !important;
    }

    .ant-select-tree .ant-select-tree-treenode {
      align-items: center !important;
    }

    .ant-select-tree-switcher {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }
}

.prodTypeSelect {
  width: 140px !important;
  margin-right: 8px;

  // :global {
  //   .ant-select-selector {
  //     border-right: none !important;
  //     border-top-right-radius: 0 !important;
  //     border-bottom-right-radius: 0 !important;
  //   }
  // }

  // &:hover {
  //   :global {
  //     .ant-select-selector {
  //       border-right: 1px solid #40a9ff !important;
  //     }
  //   }
  // }
}

.searchInput {
  flex: 1;
  height: 32px !important;
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.searchBtnIcon {
  color: #ffffff;
  font-size: 28px;
}

.searchBarRight {
  display: flex;
  align-items: center;
  height: 60px;
  // margin: 0 16px;
  // padding: 0 12px;
}

.moreSelect {
  width: 160px;
  margin-right: 8px;

  // :global {
  //   .ant-select-selector {
  //     border-right: none !important;
  //     border-top-right-radius: 0 !important;
  //     border-bottom-right-radius: 0 !important;
  //   }
  // }

  // &:hover {
  //   :global {
  //     .ant-select-selector {
  //       border-right: 1px solid #40a9ff !important;
  //     }
  //   }
  // }
}

.updateSelect {
  width: 160px;
}
