.certificateInformation {
  width: 100%;
  :global {
    .ant-upload-select-picture-card {
      width: 284px !important;
      height: 200px !important;
      border: none !important;
    }
    .ant-upload-list-picture-card-container {
      width: 284px !important;
      height: 200px !important;
    }
    .ant-input {
      height: 40px;
    }
    .ant-form-item {
      margin-top: 16px !important;
      margin-bottom: 0 !important;
    }
  }
}
.enterprise {
  margin: 20px 0;
  padding: 20px;
  border-bottom: 1px solid #d7d7d7;
  // border-radius: 2px;
  // box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%);
}
.codeLabel {
  width: 127px;
  height: 38px;
  white-space: break-spaces;
}
.attachment {
  width: 284px;
  height: 200px;
  margin-top: 20px;
  background-image: url('@/static/images/enterpriseAdjunct.png');
  background-repeat: no-repeat;
  background-color: #E9E9E9;
  background-position-x: center;
  background-position-y: center;
  color: #D4D4D4;
  text-align: center;
  padding-top: 150px;
}
.attachmentTip {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  white-space: nowrap;
}
.positiveDom {
  width: 284px;
  height: 200px;
  background-image: url('@/static/images/positive.png');
  background-image: url('@/static/images/enterpriseAdjunct.png');
  background-repeat: no-repeat;
  background-color: #E9E9E9;
  background-position-x: center;
  background-position-y: center;
  color: #D4D4D4;
  text-align: center;
  padding-top: 150px;
}
.reverseDom {
  width: 284px;
  height: 200px;
  background-image: url('@/static/images/reverse.png');
  background-image: url('@/static/images/enterpriseAdjunct.png');
  background-repeat: no-repeat;
  background-color: #E9E9E9;
  background-position-x: center;
  background-position-y: center;
  color: #D4D4D4;
  text-align: center;
  padding-top: 150px;
}
.submit {
  width: 100%;
  margin: 20px 0 30px;
  text-align: center;
}
.icon {
  margin-right: 16px;
  font-size: 24px;
}
.title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.titleName {
  font-weight: 500;
  font-size: 18px;
}
.tip {
  // margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.tipIcon {
  margin-top: 4px;
  margin-right: 4px;
}
.button{
  width: 150px;
  height: 40px !important;
  margin-top: 20px;
  font-size: 18px !important;
}