.certificateInformation {
  width: 100%;
  :global {
    .ant-upload-select-picture-card {
      width: 330px !important;
      height: 210px !important;
      border: none !important;
    }
    .ant-upload-list-picture-card-container {
      width: 330px !important;
      height: 210px !important;
    }
    .ant-input {
      height: 40px;
    }
  }
}
.enterprise {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%);
}
.codeLabel {
  width: 127px;
  height: 38px;
  white-space: break-spaces;
}
.attachment {
  width: 330px;
  height: 210px;
  margin-top: 20px;
  background-image: url('@/static/images/enterpriseAdjunct.png');
}
.attachmentTip {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  white-space: nowrap;
}
.positiveDom {
  width: 330px;
  height: 210px;
  background-image: url('@/static/images/positive.png');
}
.reverseDom {
  width: 330px;
  height: 210px;
  background-image: url('@/static/images/reverse.png');
}
.submit {
  width: 100%;
  margin: 20px 0 30px;
  text-align: center;
}
