@import '@/css/common.less';

.qualificationCertification {
  padding: 20px;
  background-color: #fff;
}
.addButton {
  margin-bottom: 20px;
}
.boxItem {
  margin: 0 8px;
}
.photo {
  width: 100px;
  :global {
    img {
      width: 100px;
    }
  }
}
