@import '@/css/common.less';

.qualificationCertification {
  padding-top: 20px;
}
.addButton {
  margin-bottom: 20px;
}
.qualificationTable {
}
.operationBox {
}
.boxItem {
  margin: 0 8px;
}
.photo {
  width: 100px;
}
