@import '@/css/common.less';

.qualificationCertification {
  position: relative;
  padding: 20px;
  background-color: #fff;
}
.addButton {
  position: absolute;
  top: 20px;
  right: 20px;
  overflow: hidden;
}
.boxItem {
  margin: 0 8px;
}
.photo {
  width: 100px;
  :global {
    img {
      width: 100px;
    }
  }
}
