@import '@/css/common.less';

.factoryIntroduce {
  width: 100%;
  background-color: @white;
  padding: 12px 20px;
  margin-top: 20px;
}
.introduceBox {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  :global {
    li {
      display: flex;
    }
  }
}
.boxLabel {
  background-color: @borderColor;
  border: 1px solid #d7d7d7;
  padding: 12px 20px;
  flex: 2;
}
.boxValue {
  border: 1px solid #d7d7d7;
  padding: 12px 20px;
  flex: 3;
}
.introduceInfo {
  margin: 20px 0;
  display: flex;
  border: 1px solid #d7d7d7;
}
