@import '@/css/common.less';

.factoryIntroduce {
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    background-color: @white;
}

.introduceBox {
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;

    :global {
        li {
            display: flex;
        }
    }
}

.boxLabel {
    flex: 2;
    padding: 12px 20px;
    background-color: @borderColor;
    border: 1px solid #d7d7d7;
}

.boxValue {
    flex: 3;
    padding: 12px 20px;
    border: 1px solid #d7d7d7;
}

.introduceInfo {
    display: flex;
    margin: 20px 0;
    border: 1px solid #d7d7d7;
}
