.receiving {
  padding: 10px;
  background: #80808012;
}
.address {
  margin-top: 10px;
  margin-bottom: 10px;
  :global {
    .ant-form-item {
      margin-top: 7px;
    }
  }
}
.addres {
}
.isContactPublic {
  margin-left: -9px;
}
.search {
  float: right;
}
.addressRight {
  float: right;
  width: 490px;
  margin-top: 10px;
}
.flex {
  position: fixed;
  align-items: center;
  justify-content: center;
}

.input {
  width: 192px !important;
  height: 34px !important;
}
.record {
  padding: 5px;
  color: red;
}
.txt {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.searchItem {
  margin-top: 55px;
}
.invitation {
  width: 100%;
  height: 100%;
  padding: 17px;
  overflow: hidden;
  background-color: rgba(247, 248, 250, 1);
}
.previous {
  margin-left: 45px;
  font-size: 20px;
  cursor: pointer;
}
.company {
  margin-left: 10px;
}
.cooperate {
  float: left;
  width: 230px;
  height: 33px;
  margin-top: 20px;
  margin-right: 85px;
  line-height: 33px;
  background: #c9c4c42b;
  border: 1px solid #ccc;
}
.cooperativeParent {
  width: 100%;
  height: 50px;
}
