.content{
  display: flex;
  justify-content: space-between;
}
.nameCn {
  color: #333333;
  font-weight: 500;
  font-size: 28px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.nameEn {
  margin-bottom: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 18px;
  font-family: PingFangSC-Regular, PingFang SC;
}
.right {
  width: 660px;
  padding: 0 20px;
  background-color: #fff;
  position: relative;
}
.left {
  // display: flex;
  // justify-content: space-between;
  width: 430px;
  background-color: #fff;
  position: relative;
}
.upIcon{
  transform: rotate(
    180deg
    );
}
