.title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #333333;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
}

.titleLine {
  width: 4px;
  height: 17px;
  margin-right: 20px;
  background: #3b80ff;
  border-radius: 3px;
}
