.form {
  position: relative;
  :global {
    .ant-form-item-label {
      font-weight: 500;
      font-size: 14px;
    }
  }
}

.username {
  float: left;
}
.off {
  overflow: hidden;
}
.query {
  margin-right: 20px;
  margin-left: 17px;
}
.btn {
  float: right;
  width: 250px;
}
