.searchBox {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
  // padding-top: 50px;
}

.inputBox {
  position: relative;
  width: 65% !important;
  max-width: 780px !important;
}

.input {
  display: flex;
  align-items: center;
  width: 100% !important;
  // max-width: 780px !important;
  color: rgba(225, 225, 225, 0.5) !important;
  height: 60px !important;
  font-size: 16px;
  border: none !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background: rgba(255, 255, 255, 0.2) !important;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  content: '';
}

.btn {
  padding: 0 24px !important;
  font-size: 16px !important;
  height: 60px !important;
  width: 120px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.home {
  width: 100%;
  position: relative;
  background: #f0f0f0;
  // height: 500px;
  // width: 1200px;

  :global {
    .swiper-wrapper {
      display: flex !important;
    }
    .swiper-container, .swiper-slide {
      height: auto !important;
    }

    .ant-input {
      background: initial;
      height: 60px;
      font-size: 16px;
      padding-left: 8px !important;
      color: #ffffff;
      border: none !important;
    }
  }
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  min-height: 460px;

  height: calc(100vh - 370px);
  // height: calc(100vh - 38px);
  background-repeat: no-repeat;
}




.banner {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: inherit;
}

.bannerBefore {
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: calc(100vh - 282px);
  visibility: 0;
}

.beforeLoad {
  display: block;
  width: 100%;
  height: calc(100vh - 282px);
}

.searchBar {
  // padding-top: 6%; 
  // padding-top: 7%;
  text-align: center;
}

.linkItem {
  display: inline-flex;
  align-items: center;
  font-size: 28px;
  color: #ffffff;
  margin-right: 64px;
  transition: none !important;

  .searchBarIconActive{
    display: none;
  }

  .searchBarIcon {
    margin-right: 8px;
    font-size: 32px;
  }

  &:hover {
    .searchBarIconActive{
      margin-right: 8px;
      font-size: 32px;
      display: block;
    }

    .searchBarIcon {
      display: none;
    }

  }

  &:active {
    color: #40a9ff;
  }
}



.linkImg {
  display: inline-block;
  width: 154px;
}

.searchIcon {
  font-size: 18px;
  color: #c5bfbf;
}

.hbBox {
  display: flex;
  padding-top: 8%;
  justify-content: center;
}

.hb {
  display: inline-block;
  width: 200px;
  margin-right: 104px;

  &:nth-child(3) {
    width: 240px;
  }

  &:nth-child(43) {
    width: 240px;
    margin-right: 0;
  }
}

@font-face {
  font-family: "numberFont";/*定义字体名*/
  // src: url(./font/font2.ttf);
  src: url(http://http://capacity-platform.oss-cn-hangzhou.aliyuncs.com/capacity-platform/20210723/f8122a680f0c437d8f5ead00bcb35075.ttf);/*字体包的引入路径*/
}

.numberIcon {
  font-size: 42px;
}

.dealCountBox {
  display: flex;
}

.dealCount {
  width: fit-content;
  position: relative;
  font-family: monospace;
  // font-family: numberFont;
  margin-right: -4px;
}

.dealNumber {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 28px;
}

.cards {
  padding-top: 6%;
  // padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  // background: red;
  // width: 80%;
  // height: 80%;
  // margin:  auto;
}

.card {
  margin-right: 100px;
  width: fit-content;
  font-size: 16px;
  color: #ffffff;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.cardTitle {
  padding: 0 0 8px 0;
  text-align: center;
  font-size: 18px;
}

.loadingBox {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
}

.loadingImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
