.orderPage {
  padding-top: 30px;

  :global {
    .ant-form-item-no-colon {
      padding-left: 12px !important;
    }

    .ant-form-item-required {
      padding-left: 0px !important;
    }

    label {
      font-weight: bold;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  height: 72px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
  background: #ffffff;
}

.headerIcon {
  margin-right: 16px;
  color: #999999;
  font-size: 16px;
}

.orderSection {
  margin-top: 20px;
  padding: 30px 30px 0px 30px;
  background: #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.goodsSection {
  margin-top: 20px;
  padding: 30px;
  background: #ffffff;
}

.goodsBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.goodsBtn {
  color: #3b80ff;
  cursor: pointer;

  &:nth-child(1) {
    padding-right: 8px;
  }
  &:nth-last-child(1) {
    padding-left: 8px;
  }
  &:hover {
    opacity: 0.8;
  }
}

.goodsAddBtn {
  color: #3b80ff;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.line {
  width: 1px;
  height: 14px;
  background: #3b80ff;
}

.tableFooter {
  color: #999999;
  text-align: right;
}

.tableFooterCount {
  color: #333333;
  font-weight: bold;
}

.submitBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

.saveBtn {
  width: 120px;
  height: 40px;
  margin-right: 20px;
}

.submitBtn {
  width: 120px;
  height: 40px;
}

.tableImg {
  display: flex;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid #efefef;
}
