@import '@/css/common.less';

.samplesShow {
  width: 100%;
  background-color: @white;
  padding: 20px;
}
.samplesContent {
}
.samplesCard {
  float: left;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 8px 6px;
}
.goodsImg {
  width: 180px;
  margin-bottom: 8px;
}
