@import '@/css/common.less';

.samplesShow {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: @white;
}

.samplesContent {
}

.samplesCard {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 8px 6px;
}

.goodsImg {
    width: 180px;
    margin-bottom: 8px;
}
