.information {
  height: 200px;
}
.quantity {
  :global {
    .ant-form-item-control-input-content input {
      width: 100px;
    }
  }
}
.categoryId {
  margin-top: 21px;
  margin-left: 22px;
}
.xing {
  float: left;
  margin-right: 5px;

  margin-left: 32px;
  color: red;
  line-height: 38px;
}
.division {
  margin: 5px;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modify {
  :global {
    .ant-upload-list-picture-card {
      width: 720px;
    }
    .ant-form-item {
      margin-top: 21px;
    }
  }
}
.quantity {
  margin-top: 10px;
}
.formNode {
  margin-left: 36px;
}
.category {
  margin-top: 20px;
  margin-left: 22px;
}
