.filterList {
    width: 100%;
    margin-top: 12px;
    background-color: #fff;
}

.classification {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 30px;
    border-bottom: 1px solid #f0f0f0;
}

.classificationLabel {
    margin-right: 24px;
}

.classificationSpan {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.active {
    color: #fff;
    background-color: rgba(129, 211, 248, 1);
}

.activeTab {
    padding: 5px 8px;
}

.moreSelect {
    width: 120px;
    margin-right: 12px;
}

.dressIcon {
    font-size: 20px;
}
