.filterList {
  width: 100%;
  margin-top: 12px;
  background-color: #fff;
}

.classification {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 30px;
  border-bottom: 1px solid #f0f0f0;
}

.classificationLabel {
  width: 56px;
  margin-right: 24px;
}
.classificationItem {
  flex: 1;
}
.classificationSpan {
  display: inline-block;
  margin: 4px;
  padding: 2px 6px;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
}

.active {
  color: #fff;
  background-color: rgba(129, 211, 248, 1);
}

.activeTab {
  padding: 5px 8px;
}

.moreSelect {
  width: 120px;
  margin-right: 12px;
}

.dressIcon {
  font-size: 20px;
}
.areaCategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
