.filterList {
  width: 100%;
  background-color: #fff;
  border-left: 5px solid #3b80ff;
}

.classification {
  display: flex;
  // align-items: center;
  justify-content: flex-start;
  // padding: 8px 30px;
  border-bottom: 1px solid #f0f0f0;
}

.classificationLabel {
  width: 96px;
  margin-right: 24px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 15px;
  background-color: rgba(59, 129, 255, 0.05);
}
.classificationItem {
  flex: 1;
  padding-right: 24px;
  display: flex;
  align-items: center;
}
.classesBox{
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}
.classificationSpan {
  display: inline-block;
  margin: 4px;
  padding: 2px 6px;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
}

.active {
  color: #3B80FF;
  // background-color: rgba(129, 211, 248, 1);
  
  .activeTab {
    padding: 5px 8px;
    border-color: #3B80FF;
  }
}
.activeTab {
  padding: 5px 8px;
  border-color: #3B80FF;
  color: #3b80ff;
  background-color: transparent;
}

.moreSelect {
  width: 120px;
  margin-right: 12px;
}

.dressIcon {
  font-size: 20px;
}
.areaCategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
