@import '@/css/common.less';

.orderOverview {
    padding: 20px;
    overflow: hidden;
    background-color: @white;
    border: 1px solid @grayLine;
}

.overviewLeft {
    float: left;
    width: 44%;
}

.overviewRight {
    float: left;
    width: 54%;
    margin-left: 2%;
}

.rightList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightListRow {
    padding: 8px 0;
}

.rightListNum {
    font-size: 16px;
    color: @red;
}
