.commercialInfo{
}
.companiesIntroduce {
  margin: auto;
  background-color: #fff;
  color: #333333;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff0f0f0;
}
.textCn {
  margin-right: 12px;
  color: #333333;
  font-weight: 500;
  font-size: 28px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.textEn {
  color: #999999;
  font-weight: 400;
  font-size: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
}
.focusOn {
  margin-right: 4px;
  color: blue;
  font-size: 20px;
}
.focusBox {
  display: flex;
  align-items: center;
}
.content {
}
.name {
  margin-right: 12px;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.factoryTag {
  // display: flex;
  // align-items: center;
  margin-right: 8px;
}
.tagIcon {
  margin-right: 4px;
  font-size: 16px;
}
.people {
  color: #999999;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.head{
  margin: 0 16px 0 8px;
}
.time{
  margin: 0 8px 0 24px;
}
.introduce{
  display: flex;
  margin-top: 8px;
}
.left{
  flex: 1;
  margin-right: 36px;
}
.right{
  width: 310px;
  border: 1px solid #E9E9E9;
}
.text{
  background-color: #237EFF;
  color: #fff;
  text-align: center;
  padding: 8px 0 2px;
}
.photo{
  max-height: 100%;
  max-width: 100%;
}
.abstract{
  margin-bottom: 36px;
}
.title{
  font-size: 18px;
  font-weight: 500;
  border-left: 3px solid #237EFF;
  padding-left: 12px;
  margin-bottom: 16px;
}
.label{
  width: 120px;
  display: inline-block;
}
.gutterRow{
  margin: 4px 0;
}
.scope{
  display: flex;
  margin-top: 16px;
}
.strong{
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 450;
  color: #333333;
}