.taipans {
  width: 300px !important;
}
.table {
  :global {
    .ant-tabs-tab-btn {
      width: 85px;
      text-align: center;
    }
  }
}
.table {
  position: relative;
}
.added {
  position: absolute;
  top: 11px;
  right: 0;
}
