@import '@/css/common.less';

.factory {
    width: 100%;
    background: @containerBg;
}

.factoryContainer {
    width: 1200px;
    margin: 0 auto;
}

.factoryContent {
    margin-top: 20px;
    overflow: hidden;
}

.contentLeft {
    float: left;
    width: 70%;
    padding: 12px 20px;
    background-color: @white;
}

.contentRight {
    float: left;
    width: 29%;
    margin-left: 1%;
}

.factoryPage {
    padding-top: 12px;
    text-align: center;
}

.newFactory {
    position: relative;
}

.newFactoryImg {
    width: 100%;
}

.newFactoryTitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    color: @white;
    text-align: center;
    letter-spacing: 8px;
    background-color: #6300bf;
}
