@import '@/css/common.less';

.factory {
  width: 100%;
  margin: 80px 0 100px;
}

.factoryContainer {
  width: 1200px;
  margin: 0 auto;
}

.factoryContent {
  margin-top: 30px;
  overflow: hidden;
}

.contentLeft {
  float: left;
  width: 70%;
  padding: 12px 0;
  background-color: @white;
}

.contentRight {
  float: left;
  width: 29%;
  margin-left: 1%;
}

.factoryPage {
  padding-top: 12px;
  text-align: center;
}

.newFactory {
  position: relative;
}

.newFactoryImg {
  width: 100%;
}

.newFactoryTitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
  color: @white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 8px;
  text-align: center;
  background-color: #6300bf;
}
.nodata {
  padding: 200px 0;
}
