.title {
  margin-bottom: 24px;
  color: rgb(0 0 0 / 47%);
}
.content {
  margin-left: 100px;
  color: rgb(21, 20, 20);
}
.hidden {
  width: 340px;
  margin-bottom: 24px;
  overflow: hidden;
  color: rgb(0 0 0 / 47%);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contents {
  margin-left: 90px;
  color: rgb(21, 20, 20);
}
