.title {
  margin: 24px 0 24px 0px;
  padding-left: 8px;
  color: #aaaaaa;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border-left: 3px solid #02a7f0;
}

.chunk {
  display: flex;
  flex-wrap: wrap;
}

.form {
  :global {
    .ant-form-item-label {
      width: 156px !important;
    }

    .ant-col {
      padding: 0 12px;
    }
  }
}

.tableTitle {
}

.btnBox {
  display: flex;
}
