.mapTemp {
  position: relative;
  width: 480px;
  height: 180px;
  // opacity: 0;
  transition: all 0.2s ease;
  margin-top: 20px;
  :global {
    .amap-copyright {
      display: none !important;
    }

    .labelclass {
      display: block;
      width: 18px;
      height: 18px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
    }
  }
}
