.companiesIntroduce {
  margin-top: 30px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff0f0f0;
}
.textCn {
  margin-right: 12px;
  color: #333333;
  font-weight: 500;
  font-size: 28px;
}
.textEn {
  color: #999999;
  font-weight: 400;
  font-size: 20px;
}
.content {
  padding: 24px 0;
  background-image: url('../../../../static/images/jdxq_bg.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}
.mainBox {
  flex: 1;
}
.name {
  margin-right: 12px;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
}
.content {
  margin: 0;
  padding: 0 0 20px;
  list-style: none;
  :global {
    li {
      display: flex;
      padding: 12px;
    }
  }
}
.product {
  display: flex;
  align-items: flex-start;
}
.left {
  display: flex;
  flex: 1;
  align-items: center;
  margin: auto;
}
.right {
  display: flex;
  flex: 3;
  align-items: center;
  color: #333333;
  font-weight: 600;
}
.strongText {
  color: #333333;
  font-weight: 600;
  // font-size: 16px;
}
.classes {
  padding: 0;
  list-style: circle;
  :global {
    li {
      display: flex;
      align-items: center;
      padding-left: 0;
    }
  }
}
.hidden {
  width: 173px;
  // height: 10px;
  margin-bottom: 12px;
  overflow: hidden;
  color: #666666;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.classesLi {
  display: flex;
  padding: 6px 12px 6px 0 !important;
  // :global {
  //   .ant-badge-status-text {
  //     font-size: 16px;
  //   }
  // }
}
.classesSubtitle {
  width: 150px;
  white-space: nowrap;
}
.strong {
  display: contents;
  font-weight: bold;
  font-size: 20px;
}
.details {
  display: flex;
}
.tooltipBpx {
  width: 364px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon {
  margin-right: 30px;
  font-size: 36px;
}
