.equipment {
  margin-bottom: 100px;

  .equipmentInner {
    width: 1200px;
    margin: 0 auto;
  }

  .header {
    margin-bottom: 64px;
    text-align: center;
  }

  .oTitle {
    font-weight: 500;
    font-size: 32px;
  }

  .oText {
    padding-bottom: 8px;
    font-size: 20px;
  }

  .img {
    display: block;
    width: 124px;
    margin: 0 auto;
  }

  .equipmentImg {
    display: inline-block;
    width: 1140px;
    height: 640px;
  }

  .equipmentSwiperOut {
    width: 1200px;
    text-align: center;
    background: #3b80ff;

    :global {
      .swiper-container {
        top: -30px;
      }
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
  }
}

.operateBtns {
  padding-top: 78px;
  text-align: center;

  .operateLeftIcon {
    margin-right: 58px;
    color: #3b80ff;
    font-size: 30px;
  }

  .operateRightIcon {
    color: #3b80ff;
    font-size: 30px;
  }

  .operateDisableIcon {
    color: #c4c4c4;
  }
}
