.joinImg {
  display: inline-block;
  width: 280px;
  height: 274px;
  background: #ffffff;
}

.joinInfo {
  display: flex;
  flex-direction: column;
  height: 214px;
  padding: 22px 16px 0;
  color: #666666;
  font-weight: 400;
  font-size: 16px;
}

.joinInfoTitle {
  padding-bottom: 10px;
  overflow: hidden;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.joinCard {
  width: 280px !important;
  background: #ffffff;
  cursor: pointer;

  &:hover {
    background: #3b80ff;

    .joinInfo,
    .joinInfoTitle {
      color: #ffffff;
    }
  }
}

.joinText {
  display: inline-block;
  width: 128px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.joinInfoItem {
  display: flex;
  padding-bottom: 8px;
}

.joinLabel {
  display: inline-block;
  width: 92px;
  margin-right: 24px;
}

.joinIcon {
  margin-right: 8px;
  font-size: 20px;
}

.joinSwiper {
  width: 900px !important;
  margin-right: unset !important;
  margin-left: unset !important;

  :global {
    .swiper-slide {
      background: transparent !important;
    }
  }
}

.joinRight {
  position: relative;
  width: 300px;
  padding: 148px 0 0 36px;
  background: #3b80ff;
}

.joinRightTitle {
  color: #ffffff;
  font-weight: 500;
  font-size: 32px;
}

.joinRightText {
  padding-bottom: 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.joinLeftIcon {
  margin-right: 24px;
  color: #ffffff !important;
  font-size: 40px;
}

.joinRightIcon {
  color: #ffffff !important;
  font-size: 40px;
}

.joinSwaiperContainer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 128px;

  :global {
    .swiper-button-next {
      display: none;
    }
    .swiper-button-prev {
      display: none;
    }
  }
}

.joinDisableIcon {
  color: #9fc1ff !important;
}
