.operateSwaiperContainer {
  padding-bottom: 140px;
}

.operateSwiper {
  width: 1200px !important;

  :global {
    .swiper-slide {
      margin: 0 !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .swiper-slide {
      background: transparent !important;
    }
  }
}

.operateCard1 {
  width: 400px !important;
  height: 560px !important;
}

.operateImg1 {
  display: inline-block;
  width: 400px;
  height: 500px !important;
}

.operateIcon1 {
  margin-right: 12px;
  font-size: 24px;
}

.operateCardContent1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 296px;
  height: 148px;
  margin: -86px auto 0;
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  background: #ffffff;
}

.operateCardTitle1 {
  margin-bottom: 8px;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.operateText1 {
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
}

.operateLabel1 {
  display: flex;
}

.operateCard2 {
  width: 400px !important;
  height: 560px !important;
  padding: 24px 18px 0 18px;
  color: #ffffff;
  background: #3b80ff;
}

.operateInfo2 {
  display: flex;
  padding-bottom: 32px;
}

.operateImg2 {
  display: inline-block;
  width: 140px !important;
  height: 140px !important;
  margin-right: 36px;
}

.operateCardTitle2 {
  padding: 12px 0;
  font-weight: 500;
  font-size: 20px;
}

.operateText2 {
  display: flex;
  padding-bottom: 12px;
}

.operateLabel2 {
  display: flex;
  margin-right: 32px;
  font-size: 16px;
}

.operateIcon2 {
  margin-right: 12px;
  color: #ffffff;
  font-size: 24px;
}

.operateIntro2 {
  color: #ffffff;
  font-size: 16px;
  word-break: break-all;

  .intro {
    font-weight: 500;
    font-size: 18px;
  }
}

.operateTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  color: #333333;

  .oTitle {
    font-weight: 500;
    font-size: 32px;
  }

  .oText {
    padding-bottom: 8px;
    font-size: 20px;
  }

  .operateImg {
    display: block;
    width: 124px;
  }
}

.operateBtns {
  padding-top: 78px;
  text-align: center;

  .operateLeftIcon {
    margin-right: 58px;
    color: #3b80ff;
    font-size: 30px;
  }

  .operateRightIcon {
    color: #3b80ff;
    font-size: 30px;
  }

  .operateDisableIcon {
    color: #c4c4c4;
  }
}
