.software {
  height: 800px;
  margin-bottom: 130px;
  background: #353535;
}

.softwareInner {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.softIntro {
  width: 400px;
  height: 724px;
  margin-top: -36px;
  padding: 152px 0 0 52px;
  background: #3b80ff;
}

.softTitle {
  color: #ffffff;
  font-weight: 500;
  font-size: 32px;
}

.softText {
  margin-bottom: 60px;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.softIntroText {
  width: 300px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

.softImgs {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  height: 580px;
  padding-top: 108px;

  .softImg {
    display: inline-block;
    width: 375px;
    height: 290px;
  }
}
