.statisticsModal {
  position: absolute;
  top: 100px;
  right: 16px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 280px;
  height: 420px;
  background: #3b80ff;
}

.statisticsItem {
  display: flex;
  align-items: center;

  .icon {
    display: inline-block;
    margin-right: 48px;
    color: #ffffff;
    font-size: 40px;
  }

  .msg {
    color: #ffffff;
    font-size: 12px;
  }

  .count {
    color: #ffffff;
    font-weight: 500;
    font-size: 28px;
  }
}
