.topping {
  height: 32px;
  margin-top: 20px;
  line-height: 32px;
  background-color: rgba(232, 242, 255, 1);
}

.noTopping {
  height: 32px;
  margin-top: 20px;
  line-height: 32px;
  background: #f6f6f6;
}
.requisition {
  margin-left: 10px;
}
.theme {
  padding: 20px;
}
.delContent {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.modal {
  padding-top: 48px;
  text-align: center;
}

.delIcon {
  margin-bottom: 24px;
  font-size: 68px;
}
.cancelBtn {
  width: 120px;
  height: 40px;
  margin-right: 20px;
  border-radius: 2px;
}

.submitBtn {
  width: 120px;
  height: 40px;
  border-radius: 2px;
}

.delTitle {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.delText {
  color: #333333;
  font-size: 14px;
  text-align: center;
}
.bos {
  font-size: 12px;
  border-bottom: 1px solid #5c5c5c42;
}
.checked {
  margin-top: 28px;
}
.img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.subject {
  font-size: 14px;
  line-height: 12px;
}
.toppingStyle {
  color: #40a9ff;
  font-size: 14px;
}
.font {
  font-size: 14px;
}
.hidden {
  width: 173px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.category {
  width: 173px;
  margin-top: 10px;
  margin-bottom: 14px;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}
.toppingFather {
  cursor: pointer;
}

.feedback {
  margin-top: 24px;
  text-align: center;
}
.feedback p {
  margin-bottom: 5px;
}
.state {
  margin-top: 12px;
  margin-left: -27px;
  text-align: center;
}
.btn {
  margin-top: 17px;
  margin-left: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
.moreOrder {
  margin-top: 20px;
}
.fontColor {
  margin-right: 5px;
  margin-left: 5px;
  color: red;
}
.cursor {
  cursor: pointer;
}
.effect {
  color: #4da91f;
}
.end {
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
}
.draft {
  line-height: 50px;
}
.tina {
  margin-right: 5px;
  margin-left: 5px;
  color: red;
}
.already {
  color: rgb(0 0 0 / 52%);
}
.validity {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mov {
  color: #40a9ff;
  border: 1px solid #1890ff;
}
.listHeaderSortIcon {
  margin-right: 5px;
  font-size: 18px;
}
.name {
  margin-bottom: 14px;
  font-weight: 700;
}
.subject {
  line-height: 12px;
}
.color {
  margin-right: 15px;
  color: #bfbfbf;
  font-size: 14px;
}
.examine {
  float: right;
  margin-right: 21px;
}
