.topping {
  height: 32px;
  margin-top: 20px;
  line-height: 32px;
  background-color: rgba(232, 242, 255, 1);
}
.noTopping {
  height: 32px;
  margin-top: 20px;
  line-height: 32px;
  background: #f6f6f6;
}
.requisition {
  margin-left: 10px;
}
.theme {
  height: 100px;
  padding: 20px;
}
.bos {
  padding-bottom: 20px;
  font-size: 12px;
  border-bottom: 1px solid #5c5c5c42;
}
.checked {
  margin-top: 28px;
}
.img {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.subject {
  line-height: 12px;
}
.toppingStyle {
  color: #40a9ff;
  font-size: 14px;
}
.hidden {
  width: 173px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.category {
  width: 173px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.toppingFather {
  cursor: pointer;
}

.feedback {
  margin-top: 12px;
  text-align: center;
}
.feedback p {
  margin-bottom: 5px;
}
.state {
  margin-top: 12px;
  margin-left: -27px;
  text-align: center;
}
.btn {
  margin-top: 17px;
  margin-left: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
.moreOrder {
  margin-top: 10px;
}
.fontColor {
  color: red;
}
.cursor {
  cursor: pointer;
}
.effect {
  color: #4da91f;
}
.end {
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
}
.draft {
  line-height: 50px;
}
.already {
  color: #bfbfbf;
}
.validity {
  margin-top: 5px;
  margin-bottom: 5px;
}
.listHeaderSortIcon {
  margin-top: 8px;
  margin-right: 5px;
  font-size: 18px;
}
.name {
  font-weight: 700;
}
.subject {
  line-height: 12px;
}
.color {
  margin-right: 5px;
  color: #bfbfbf;
  font-size: 14px;
}
.examine {
  float: right;
  margin-right: 21px;
}
