@import '@/css/common.less';

.department-manage {
  padding: 20px;
  overflow: hidden;
  .left {
    float: left;
    width: 300px;
    margin-right: 20px;
  }
  .right {
    display: grid;
    margin-left: 320px;
  }
  .department-container {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 2px 10px 1px #eee;
    .department-header {
      height: 36px;
      padding-left: 8px;
      font-size: 16px;
      line-height: 36px;
      background-color: rgba(226, 226, 226, 0.5);
      border-bottom: 1px solid #eee;
    }
    .tree-container {
      padding: 12px 20px;
      .tree-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .tree-list-left {
          padding-right: 10px;
        }
        .tree-icon {
          margin: 0 4px;
          color: rgba(0, 0, 0, 0.6);
          font-size: 12px;
        }
      }
    }
  }
}
