.information {
  height: 200px;
}
.quantity {
  :global {
    .ant-form-item-control-input-content input {
      width: 100px;
    }
  }
}
.categoryId {
}
.orderCon {
  // margin-top: -40px;
}

.xing {
  float: left;
  margin-right: 5px;

  margin-left: 32px;
  color: red;
  line-height: 38px;
}

.division {
  margin: 5px;
}
.top {
}
.cate {
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}
.modify {
  margin-top: -30px;
  :global {
    .ant-upload-list-picture-card {
      width: 720px;
    }
    .ant-form-item-control-input-content {
      width: 745px;
    }
    .ant-form-item {
      margin-top: 28px;
    }
  }
}
.quantity {
  margin-top: 10px;
}
.formNode {
  margin-left: 36px;
}
.category {
  margin-top: 20px;
  margin-left: 22px;
}
.textArea {
  margin-left: 28px;
}
.goodsRemark {
  position: relative;
  margin-top: 20px;
}
.payment {
  position: absolute;
  top: -44px;
  left: 105px;
  width: 271px;
  color: #6b6a6a;
  font-size: 12px;
}
