.meny {
  margin-left: 34px !important;
}
.Issuebill {
  margin-top: 30px;
  background: #ffffff;
}
.menyTop {
  position: relative;

  height: 75px;
  margin-top: 30px;
  line-height: 75px;
}
.drafts {
  margin-left: 90px;
}
.form {
  position: relative;
  height: 200px;
  overflow: hidden;
  background: #fff;
}
.paging {
  margin-top: 20px;
  margin-left: 403px;
  padding-bottom: 30px;
}
.newly {
  position: absolute;
  top: 18px;
  right: 30px;
  width: 120px;
  height: 40px;
  color: deepskyblue;
  border: 1px solid deepskyblue;
}
.issuer {
  width: 300px !important;
  height: 40px !important;
}
.Please {
  margin-top: 34px;
  margin-left: 30px;
}
.amountleft {
  margin-left: 15px;
}
.order {
  float: right;
  margin-top: -62px;
  margin-right: 248px;
}
.confirmation {
  float: right;
  margin-top: -62px;
  margin-right: 248px;
}
.confirmationamount {
  margin-left: 30px;
}

.amount {
  width: 135px !important;
  height: 40px !important;
}
.amountend {
  position: absolute;
  bottom: 66px;
  left: 245px;
  width: 135px !important;
  height: 40px !important;
}
.amountstart {
  width: 135px !important;
  height: 40px !important;
  margin-right: 10px;
}
.amountendstart {
  position: absolute;
  bottom: -0;
  left: 0;
  width: 135px !important;
  height: 40px !important;
}
.amountendstartend {
  position: absolute;
  right: 250px;
  bottom: 138px;
  width: 135px !important;
  height: 40px !important;
}

.range {
  position: absolute;
  bottom: 66px;
  left: 245px;
  width: 135px !important;
  height: 40px !important;
}
.Confirmation {
  position: absolute;
  bottom: 27px;
  left: 552px;
  width: 135px !important;
  height: 40px !important;
}
.query {
  position: absolute;
  top: 104px;
  right: 76px;
  width: 88px !important;
  height: 40px !important;
}
.tabletop {
  height: 40px;
  margin-top: 40px;
  line-height: 40px;
  text-align: center;
  background: #f6f6f6;
}
.Reset {
  position: absolute;
  top: 105px;
  right: 171px;
  width: 88px !important;
  height: 40px !important;
}
