.pending {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 402px;
}
.subTitle {
  margin-top: 16px;
  color: #333333;
  font-size: 16px;
}
.time {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
}
.statusIcon {
  font-size: 70px !important;
}
.confirm {
  width: 150px;
  height: 40px !important;
  margin-top: 20px;
  font-size: 18px !important;
}
.perStep {
  width: 150px;
  height: 40px !important;
  margin-top: 20px;
  color: #3b80ff !important;
  font-size: 16px !important;
  border: 1px solid #3b80ff !important;
}
.approvalResult {
  :global {
    .ant-result-title {
      font-weight: 500;
      font-size: 20px !important;
    }
  }
}
