.searchContainer {
  width: 1200px;
<<<<<<< HEAD
  margin: 0 auto;
=======
  margin: 20px auto 0;
>>>>>>> master
  padding: 12px;
  background: #fff;
}

.searchTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  font-size: 18px;
  color: #7f7f7f;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
}

.searchTitleL {
  display: flex;
}

.searchTitleText {
  margin-right: 16px;
}

.icon {
  display: inline-block;
  margin-right: 16px;
  font-size: 30px;
}

.areaTitle {
  margin-right: 16px;
  font-weight: bold;
  font-size: 20px;
  color: #7f7f7f;
}

.areaOrders {
  color: #1296db;
}

.searchContent {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;

  :global {
    .l7-bottom {
      display: none;
    }
  }
}

.areaKeys {
  display: flex;
  align-items: center;
}

.areaTab {
  width: 180px;
  height: 64px;
  margin: 0 16px 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  padding: 0 12px;
  background: #fff;
  cursor: pointer;
}

.areaTabL {
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.areaTabC {
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 100%;
  font-size: 14px;
  color: #333;
}

.areaActiveTab {
  background: #1890ff;

  .areaTabL,
  .areaTabC {
    color: #fff;
  }
}

.areaChunk {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  height: 90px;
  border: 5px solid #81d3f8;
  border-radius: 5px;
}

.areaIcon {
  margin-right: 12px;
  font-size: 60px;
}

.areaChunkL {
  width: 260px;
  height: inherit;
  display: flex;
  align-items: center;
  border-right: 5px solid #81d3f8;
}

.province {
  padding-right: 8px;
  font-size: 20px;
  font-weight: bold;
}

.city {
  display: inline-flex;
  flex-wrap: wrap;
  height: 14px;
  line-height: 14px;
  border-right: 1px solid #333333;
  padding: 0 8px;

  &:nth-child(4) {
    border-right: none;
  }

  &:nth-last-child(1) {
    border-right: none;
    color: #c280ff;
  }

  &:nth-child(1) {
    color: #333333;
    margin-bottom: 16px;
  }
}

.areaChunkR {
  display: flex;
  flex-wrap: wrap;
  padding-left: 48px;
  width: 460px;
}
