.swiper-container {
    width: 100%;
    height: 100%;

    --swiper-pagination-color: #fff; /* 两种都可以 */
}

.swiper-pagination {
    height: 40px;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.4);
}

.swiper-slide {
    /* Center slide text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: 18px;
    text-align: center;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next {
    position: absolute;
    top: 50%;
    right: 10px;
    left: auto;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    cursor: pointer;
}
