.cluster {
  margin-top: 20px;
  padding: 12px 0;
  margin-top: 20px;
  height: 200px;
  background: #fff;
}

.clusterTitle {
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
}

.clusterCard {
  display: flex;
}

.clusterImg {
  display: block;
  width: 120px;
  height: 120px;
}

.clusterInfo {
  padding: 12px;
}

.clusterTitle {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.clusterAddress {
  font-size: 14px;
}

.clusterList {
  display: flex;
  justify-content: space-between;
}
