.qualifications {
    padding: 12px;
    margin-top: 12px;
    background: #fff;
}

.title {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.img {
    display: block;
    width: 200px;
    height: 150px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 12px;
}

.name {
    padding-top: 8px;
    text-align: center;
}
