.recommentFactory {
  margin-top: 12px;
  background: #fff;
  padding: 12px;
}

.title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.img {
  margin-right: 20px;
  display: block;
  width: 170px;
  height: 170px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.name {
  letter-spacing: 0.5px;
  color: #02a7f0;
}

.realTag {
  margin-left: 8px;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  background-color: #d9001b;
}

.checkTag {
  margin-left: 8px;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  background-color: #f59a23;
}

.addressIcon {
  margin-right: 8px;
  color: #7f7f7f;
  font-size: 18px;
}

.address {
  color: #7f7f7f;
}

.productMen {
  color: #7f7f7f;
}

.mainProduct {
  color: #7f7f7f;
}

.tags {
}

.tag {
  margin-right: 8px;
  font-size: 12px;
  padding: 4px 8px;
  color: #333;
  background-color: #f2f2f2;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
}

.card {
  margin-bottom: 12px;
  width: 550px;
  height: 220px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
}

.info {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
