.factoryChunk {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.factoryModule {
    padding: 12px;
    background-color: #fff;
}

.typeInfo {
    padding: 0 12px;
    margin-bottom: 8px;
}

.typeTitle {
    padding-right: 12px;
    font-size: 20px;
    font-weight: bold;
}

.typeList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 12px;
    line-height: 32px;
}

.cardLine {
    width: 1px;
    height: 14px;
    margin: 0 8px;
    background: #333;
}

.factoryTypeItem {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 408px;
    height: 220px;
    padding-left: 12px;
    background: #fff;
    border: 1px solid #e0e0e0;
}

.factoryTypeItemR {
    flex: 1;
}

.typeImg {
    display: block;
    width: 180px;
    height: 180px;
}

.title {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.moduleContent {
    width: 840px;
}

.menAndWomen {
    display: flex;
    justify-content: space-between;
    width: 840px;
    margin-bottom: 12px;
}

.banners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.banner {
    box-sizing: border-box;
    display: block;
    width: 408px;
    height: 138px;
    border: 1px solid #e0e0e0;
}

.newFactoryItem {
    padding: 0 12px;
    border-bottom: 1px solid #e0e0e0;
}

.factoryName {
    padding: 12px 0;
    font-size: 16px;
    color: #02a7f0;
}

.factoryInfo {
    padding-bottom: 16px;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.newFactory {
    width: 320px;
    padding: 12px;
    background-color: #fff;
}

.newTitle {
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
}

.cardConcat {
    display: flex;
    align-items: center;
}
