.factoryChunk {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.factoryModule {
  padding: 12px;
  background-color: #fff;
}

.typeInfo {
  margin-bottom: 8px;
  padding: 0 12px;
}

.typeTitle {
  padding-right: 12px;
  font-size: 20px;
  font-weight: bold;
}

.typeList {
  line-height: 32px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cardLine {
  margin: 0 8px;
  width: 1px;
  height: 14px;
  background: #333;
}

.factoryTypeItem {
  width: 408px;
  height: 220px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  background: #fff;
}

.factoryTypeItemR {
  flex: 1;
}

.typeImg {
  display: block;
  width: 180px;
  height: 180px;
}

.title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.moduleContent {
  width: 840px;
}

.menAndWomen {
  margin-bottom: 12px;
  display: flex;
  width: 840px;
  justify-content: space-between;
}

.banners {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.banner {
  display: block;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  width: 408px;
  height: 138px;
}

.newFactoryItem {
  padding: 0 12px;
  border-bottom: 1px solid #e0e0e0;
}

.factoryName {
  padding: 12px 0;
  font-size: 16px;
  color: #02a7f0;
}

.factoryInfo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 16px;
  font-size: 14px;
  color: #333;
}

.newFactory {
  width: 320px;
  padding: 12px;
  background-color: #fff;
}

.newTitle {
  padding-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
