.swaiperContainer {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 36px 0 36px !important;
  background: #f0f0f0;

  :global {
    .swiper-button-next {
      display: none;
    }
    .swiper-button-prev {
      display: none;
    }
  }
}

.factorysSwiper {
  width: 1032px !important;
  height: 246px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

.swaperCard {
  padding: 12px;
  width: 328px;
  height: 150px;
  display: flex;
  align-items: flex-start;
  background: #FFFFFF;
  cursor: pointer;
  color: #333333;

  .factoryInfoIcon {
    color: #3B80FF;
  }

  &:hover {
    background: #3B80FF;
    color: #ffffff;

    .factoryInfoIcon {
      color: #ffffff;
    }
  }

  .swaiperImg {
    display: inline-block;
    min-width: 80px;
    height: 80px;
    margin-right: 12px;
    background: url(http://capacity-platform.oss-cn-hangzhou.aliyuncs.com/capacity-platform/20210722/107176f7b94f4d109551a68e046e2214.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .factoryName {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 12px;
    width: 207px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    // color: #FFFFFF;
  }

  .factoryInfo {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    // color: #FFFFFF;
    line-height: 32px;
  }

  .label {
    min-width: 52px;
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
  }

  .factoryInfoIcon {
    font-size: 18px;
    // color: #FFFFFF;
  }

  .text {
    width: 154px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
  }
}

.leftIcon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 40px;
  color: #3B80FF !important;
}

.rightIcon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 40px;
  color: #3B80FF !important;
}

.disableIcon {
  color: #C4C4C4 !important;
}


