@import '@/css/common.less';

.orderDetail {
    width: 100%;
    background: @containerBg;
}

.orderContent {
    width: 1200px;
    margin: 20px auto;
    // padding: 20px;
}

.contentLeft {
    float: left;
    width: 25%;
}

.contentRight {
    float: left;
    width: 74%;
    margin-left: 1%;
}

.factoryYear {
    display: flex;
    align-items: center;
}

.orderOverview {
    height: 500px;
    background-color: @white;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%);
}

.ourIcon {
    margin-right: 4px;
    font-size: 16px;
}
