@borderColor: #f2f2f2;
@d7Gray: #d7d7d7;
@66gray: #666666;
@99gray: #999999;
@ccGray: #cccccc;
@baseColor: #333333;
@blueBg: #02a7f0;
@white: #ffffff;
@red: #d9001b;
@containerBg: #f4f4f4;
@grayText: #999999;
@grayLine: #e4e4e4;
@hoverColor: #02a7f0;
