.information {
  height: 200px;
}
.quantity {
  :global {
    .ant-form-item-control-input-content input {
      width: 100px;
    }
  }
}
.textArea {
  margin-left: 23px;
}
.xing {
  float: left;
  margin-right: 5px;

  margin-left: 32px;
  color: red;
  line-height: 38px;
}
.division {
  margin: 5px;
}
.category {
  margin-left: 22px;
}
.modify {
  :global {
    .ant-upload-list-picture-card {
      width: 720px;
    }
    .ant-form-item {
      margin-top: 21px;
    }
  }
}
.textArea {
  :global {
    .ant-input-textarea-show-count {
      width: 745px;
    }
  }
}
.requirements {
  margin-left: 22px;
}
