.card {
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px;
  background: #f6f6f6;
}

.topHeader {
  background: #ebf2ff;
}

.left {
  display: flex;
}

.order {
}

.orderLabel {
  color: #999999;
}

.orderNum {
  margin-right: 40px;
  color: #333333;
}

.cardTime {
  width: 140px;
  margin-right: 150px;
  color: #999999;
}

.showBox {
  display: flex;
  align-items: center;
}

.companyName {
  text-align: right;
  width: 126px;
  overflow: hidden;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line {
  width: 1px;
  height: 12px;
  margin: 0 10px;
  background: #333333;
}

.showOrder {
  color: #333333;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topRight {
  color: #3b80ff;
}

.topping {
  margin-top: 3px;
  margin-right: 8px;
  font-size: 16px;
}

.content {
  display: flex;
  align-items: center;
  padding: 20px;
}

.orderInfo {
  display: flex;
  align-items: center;
  width: 400px;
}

.orderSelect {
  margin-right: 20px;
}

.orderImg {
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border: 1px solid #d9d9d9;
}

.orderInfoRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orderTitle {
  width: 240px;
  overflow: hidden;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.orderText {
  width: 240px;
  padding-top: 8px;
  overflow: hidden;
  color: #666666;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.orderCount {
  width: 200px;
  text-align: center;
}

.orderAmount {
  width: 200px;
  text-align: center;
}

.orderStatus {
  width: 200px;
  text-align: center;
}

.red {
  color: #ff3b30;
  text-align: center;
}

.orange {
  color: #ffa114;
  text-align: center;
}

.blue {
  color: #3b80ff;
  text-align: center;
}

.green {
  color: #45cb77;
  text-align: center;
}

.gray {
  color: #999999;
  text-align: center;
}

.black {
  color: #333333;
  text-align: center;
}

.btnBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  width: 128px;
  height: 100px;
  justify-content: space-evenly;
}

.btn {
  width: 102px;
  // margin-bottom: 8px;
}

.btn2 {
  width: 102px;
}

.textBtn {
  height: 24px;
}

.statusTextBox {
  width: 200px;
  margin: 0 auto;
  // padding-top: 8px;
  text-align: center;
}

.statusTimeLabel {
  color: #999999;
  font-size: 12px;
  text-align: center;
}

.statusTime {
  color: #333333;
}

.exceptTimeText {
  color: #999999;
  font-size: 12px;
}

.exceptTime {
  padding-top: 4px;
  color: #333333;
}

.actualText {
  color: #333333;
}

.ractualTime {
  color: #e81414;
  font-size: 16px;
}

.returnReason {
  cursor: pointer;
}

.seeReason {
  color: #3b80ff;
  cursor: pointer;
}

.delContent {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.delIcon {
  margin-bottom: 24px;
  font-size: 68px;
}

.delTitle {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.reasonFile {
  color: #3b80ff;
  cursor: pointer;
}

.reasonIcon {
  font-size: 14px;
}

.delText {
  color: #333333;
  font-size: 14px;
  text-align: center;
}

.delModalBtnBox {
  padding-top: 48px;
  text-align: center;
}

.cancelBtn {
  width: 120px;
  height: 40px;
  margin-right: 20px;
  border-radius: 2px;
}

.submitBtn {
  width: 120px;
  height: 40px;
  border-radius: 2px;
}

.textBtn {
  width: 102px;
  color: #333333;
  text-align: center;
  cursor: pointer;
}
