.listHeader {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 40px 0 20px 0;
  background: #f6f6f6;
}

.listHeaderItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listHeaderSortIcon {
  margin-left: 4px;
}
