.searchBar {
  width: 100%;
  padding-top: 20px;
}

.searchBarRow {
  display: flex;
  align-items: center;
  margin: 0 0 24px 0;
}

.searchBarItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: block;
  min-width: 72px;
  margin-right: 12px;
  text-align: right;
}

.label2 {
  display: block;
  min-width: 140px;
  margin-right: 12px;
  margin-left: 100px;
  text-align: right;
}

.inputBox {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.line {
  min-width: 14px;
  height: 1px;
  margin: 0 4px;
  background: #333333;
}

.btnBox {
  display: flex;
  justify-content: space-between;
  padding-left: 36px;

  :global {
    .ant-btn {
      width: 88px !important;
    }
  }
}

.input {
  height: 32px !important;
}
