@import '@/css/common.less';

.factorySample {
  padding: 12px;
  height: 1000px;
  overflow-y: auto;
}
.factorySample::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /**/
}
.factorySample::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}
.factorySample::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 10px;
}
.factorySample::-webkit-scrollbar-thumb:hover {
  background: #333;
}
.sampleBox {
  margin-bottom: 16px;
  border: 1px solid @grayLine;
  width: 100%;
}
.sampleImg {
  width: 100%;
  display: block;
  margin-bottom: 8px;
}
.sampleDes {
  font-size: 16px;
  font-weight: bold;
  margin: 8px 8px 12px;
}
