.topping {
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  background-color: rgba(232, 242, 255, 1);
}

.noTopping {
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  background: #f6f6f6;
}
.requisition {
  margin-left: 20px;
}

.shout {
  cursor: pointer;
}
// .shouts :hover {
//   color: #40a9ff;
//   cursor: pointer;
// }
.shouts {
  width: 138px;
  margin-left: 68px;
  color: #0a0a0a;
  border-bottom: 1px solid #f9fafa;
  cursor: pointer;
}
.shouts:hover {
  color: #40a9ff;
  border-bottom: 1px solid #40a9ff;
  cursor: pointer;
}

.theme {
  padding: 20px;
  border: 1px solid #efefef;
}
.delContent {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.modal {
  padding-top: 48px;
  text-align: center;
}

.delIcon {
  margin-bottom: 24px;
  font-size: 68px;
}
.cancelBtn {
  width: 120px;
  height: 40px;
  margin-right: 20px;
  border-radius: 2px;
}

.submitBtn {
  width: 120px;
  height: 40px;
  border-radius: 2px;
}

.delTitle {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.delText {
  color: #333333;
  font-size: 14px;
  text-align: center;
}
.bos {
  font-size: 12px;
  // border-right: 1px solid #5c5c5c42;
}
.checked {
  margin-top: 28px;
}
.img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.subject {
  display: flex;
  font-size: 14px;
  // line-height: 12px;
}
.toppingStyle {
  color: #40a9ff;
  font-size: 14px;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.font {
  font-size: 14px;
}
.hidden {
  width: 173px;
  // height: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  color: #666666;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ddl {
  color: #666666;
  font-weight: 400;
}
.category {
  width: 173px;
  margin-bottom: 15px;
  overflow: hidden;
  color: #666666;
  font-weight: 400;

  white-space: nowrap;
  text-overflow: ellipsis;
}
.toppingFather {
  line-height: 45px;
  cursor: pointer;
}
.hui {
  color: #999999;
  font-weight: 400;
}

.feedback {
  margin-top: 24px;
  font-size: 14px;
  text-align: center;
}
.feedback p {
  margin-bottom: 5px;
}
.state {
  margin-top: 12px;

  font-size: 14px;
  text-align: center;
}
.btn {
  margin-top: 17px;
  margin-left: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
.moreOrder {
  margin-top: 20px;
}
.fontColor {
  margin-right: 5px;
  margin-left: 5px;
  color: red;
}
.manualApprovalStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cursor {
  width: 173px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.effect {
  color: #45cb77;
  font-weight: 800;
}
.end {
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
  font-weight: 800;
}
.draft {
  font-size: 14px;
  line-height: 75px;
}
.tina {
  margin-right: 5px;
  margin-left: 5px;
  color: red;
}
.already {
  color: rgb(0 0 0 / 52%);
  font-weight: 800;
}
.validity {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mov {
  margin-bottom: 5px;
}
.listHeaderSortIcon {
  margin-right: 5px;
  font-size: 18px;
}
.name {
  width: 173px;
  margin-bottom: 14px;
  overflow: hidden;
  color: #333333;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.subject {
  // line-height: 12px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.color {
  margin-right: 7px;
  color: #bfbfbf;
  font-size: 14px;
}
.examine {
  float: right;
  margin-right: 21px;
  font-size: 14px;
}
