@import '@/css/common.less';

.plantSitePhoto {
  padding: 20px 0;
}
.uploadPhoto {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #d7d7d7;
}
.uploadPhotoOperate {
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d7d7d7;
}
.asterisk {
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
}
.photoDragger {
  width: 420px;
  margin-left: 20px;
}
.imageList {
  display: flex;
  align-items: flex-start;
}
.imageItem {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 140px;
}
.uploadImg {
  width: 100%;
}
.imageItemOperate {
  margin: 8px 0 4px;
  font-size: 12px;
}
.imageItemBottom {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
.separator {
  margin: 0 12px;
}
.box {
  margin: 0 4px;
}
