.search {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-image: url('http://capacity-platform.oss-cn-hangzhou.aliyuncs.com/capacity-platform/20210730/a0397e20e8af4bcf9840f7e79ee72933.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner {
  width: 100%;
  height: auto;
}
.content {
  width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 100px;
}
.subtitle {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}
.title {
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  font-family: AlibabaPuHuiTi-Bold, AlibabaPuHuiTi;
}
.input {
  width: 850px !important;
  height: 60px !important;
  font-size: 16px;
  border-radius: 0 !important;
}
.searchBox {
  display: flex;
  width: 900px;
  padding: 33px 33px 33px 0;
}
.active {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 33px;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #7c7b7b88;
}
.btn {
  width: 160px;
  height: 60px;
  font-size: 20px;
  border-radius: 0 !important;
}
