@import '@/css/common.less';

.searchContainer {
  background: @white;
  box-shadow: 0 4px 6px -4px @borderColor;
}

.searchContainer {
  position: relative;
  width: 1200px;
  height: 276px;
  margin: 0 auto;
  padding: 24px 16px;
  background: @white;
  background-image: url('./bg.png');
  background-repeat: no-repeat;

  :global {
    .ant-tabs-top > .ant-tabs-nav {
      margin-bottom: 0 !important;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: @hoverColor !important;
    }

    .ant-tabs-tab-btn:focus,
    .ant-tabs-tab-btn:hover,
    .ant-tabs-tab-btn:active {
      color: @hoverColor !important;
    }

    .ant-tabs-tab:focus,
    .ant-tabs-tab:hover,
    .ant-tabs-ta:active {
      color: @hoverColor !important;
    }

    .ant-tabs-ink-bar {
      background-color: @hoverColor !important;
    }

    .ant-tabs-nav::before {
      position: absolute;
      right: 0;
      left: 0;
      border: none;
      content: '';
    }
  }
}

.bgLogo {
  display: block;
  width: 240px;
  height: 64px;
}

.left {
  height: 100%;
  margin-right: 120px;
}

.logo {
  display: inline-block;
  width: 136px;
  height: 32px;
  margin-bottom: 6px;
}

.searchBox {
  width: 464px;
  height: 86px;
  margin: 32px auto;
  padding-bottom: 16px;

  :global {
    .ant-tabs-tab,
    .ant-tabs-tab-btn {
      margin: 0 !important;
      transition: none !important;
    }

    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
      border: none !important;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: @white !important;
    }

    .ant-tabs-tab.ant-tabs-tab-active {
      color: @white !important;
      background: @blueBg !important;
    }

    .ant-tabs-tab-btn:focus,
    .ant-tabs-tab-btn:hover,
    .ant-tabs-tab-btn:active {
      color: @baseColor !important;
    }

    .ant-tabs-tab:focus,
    .ant-tabs-tab:hover,
    .ant-tabs-tab:active {
      color: @baseColor !important;
    }

    .ant-tabs-ink-bar {
      background-color: @white !important;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid @blueBg;
  border-radius: 4px;
}

.input {
  box-sizing: border-box;
  height: 34px !important;
  border: none;
  border-radius: 0 !important;
}

.btn {
  box-sizing: border-box;
  height: 34px;
  color: @white;
  background: @blueBg;
  border: none;
  border-radius: 0px !important;

  &:hover {
    opacity: 0.8;
  }
}

.inputSelect {
  display: flex;
  align-items: center;
  height: 34px !important;
  padding-left: 0;
  line-height: 34px !important;
  border-left: 1px solid @grayLine;
  border-radius: 0;

  :global {
    .ant-select-selector {
      border-radius: 0 !important;
    }

    .ant-select-selector,
    .ant-select-selector:focus {
      width: 124px !important;
      height: 34px !important;
      line-height: 34px !important;
      border: none !important;
      box-shadow: none !important;
    }

    .ant-select-selection-item {
      display: flex !important;
      align-items: center !important;
    }
  }
}

.tabsBox {
  position: absolute;
  bottom: -4px;
  left: 16px;
  height: 40px;

  :global {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: @white !important;
    }

    .ant-tabs-tab-active {
      color: @white !important;
      background: @blueBg !important;
      border-color: @blueBg !important;
    }
  }
}

.searchTabsBox {
  height: 34px;
}
