.factoryReport {
  margin-top: 20px;
  letter-spacing: 2px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  color: #3b80ff;
  background-color: rgba(59, 128, 255, 0.2);
}
.factoryIcon {
  margin-right: 4px;
  color: #fff;
}
.button {
  padding: 5px 8px;
  color: #fff;
  background-color: rgba(59, 128, 255, 1);
  cursor: pointer;
}
.box {
  margin: 20px 0;
  padding: 20px 20px 4px 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%);
}
.title {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #f0f0f0;
}
.name {
  padding-left: 12px;
  color: #333333;
  font-weight: 500;
  // font-size: 16px;
  border-left: 3px solid #3b80ff;
}
.content {
  padding: 0;
  list-style: none;
  :global {
    li {
      display: flex;
      padding: 6px 12px;
    }
  }
}
.subTitle {
  margin-left: 12px;
  font-weight: bold;
  font-size: 20px;
}
.icon {
  font-size: 36px;
}
.left {
  display: flex;
  align-items: center;
  width: 250px;
}
.right {
  display: flex;
  flex: 1;
  align-items: center;
  color: #333333;
  font-weight: 500;
}
.classes {
  padding: 0;
  list-style: circle;
  :global {
    li {
      padding-left: 0;
    }
  }
}
.product {
  display: flex;
  align-items: flex-start;
}
.classesLi {
  display: flex;
}
.classesSubtitle {
  width: 150px;
}
.strong {
  display: contents;
  font-weight: bold;
  font-size: 20px;
}
.details {
  display: flex;
}
.tooltipBpx {
  max-width: 364px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
