.digital {
  margin: 20px 0 40px;
}
.title {
  width: 1200px;
  margin: auto;
}
.nameCn {
  margin-bottom: 0;
  color: #333333;
  font-weight: 500;
  font-size: 28px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.nameEn {
  margin-bottom: 30px;
  color: #999999;
  font-weight: 400;
  font-size: 18px;
  font-family: PingFangSC-Regular, PingFang SC;
}
.content {
  width: 100%;
}
.container {
  position: relative;
  margin: auto;
}
.subtitle {
  margin-bottom: 50px;
  // color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.icon {
  margin-right: 60px;
  font-size: 30px;
}
.equipment {
  display: flex;
  align-items: center;
  margin: 30px 0;
  // color: #ffffff;
}
.label {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: 70px;
}
.imageBox {
  position: absolute;
  right: 0;
  bottom: 90px;
  width: 468px;
  height: 417px;
  box-shadow: 26px 26px 0px #3b80ff;
}
.image {
  max-width: 100%;
  max-height: 100%;
}
.labelName{
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
}
