.table {
  font-weight: 500;
  font-size: 16px;
  :global {
    .ant-tabs-tab-btn {
      width: 85px;
      text-align: center;
    }
  }
}
.table {
  position: relative;
}
.added {
  position: absolute;
  top: 11px;
  right: 0;
}
