.processingType {
  :global {
    .ant-picker {
    }
  }
}
.message {
  margin-left: 19px;
}
.payDetails {
  margin-left: 19px;
}
.top {
  height: 48px;
}
.tops {
  height: 46px;
  margin-top: 10px;
}
.day {
  position: absolute;
  top: 4px;
  right: -13%;

  margin-left: 18px;
  color: #bfbfbf;
  font-size: 14px;
}
.color {
  color: #40a9ff;
}
