.moveChartBox {
  box-sizing: border-box;
  width: 700px;
  height: 360px;
  padding: 20px 30px 0;
  background: #ffffff;

  :global {
    .chart7Tpl {
      .tpl {
        margin-bottom: 8px;
      }

      .tpl1 {
        padding-bottom: 2px;
        color: #f59a23;
        font-weight: bold;
        font-size: 24px;
      }

      .tpl2 {
        padding-bottom: 2px;
        color: #6395f9;
        font-weight: bold;
        font-size: 24px;
      }
    }
  }
}

.moveChart {
  height: 300px;
}

.legendBox {
  display: flex;
  align-items: center;
  justify-content: end;
}

.squareLegendBox {
  display: flex;
  align-items: center;
  margin-left: 48px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}

.lineLegendBox {
  display: flex;
  align-items: center;
  margin-left: 48px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}

.squareLegend {
  width: 10px;
  height: 10px;
  margin-right: 12px;
  background: #6395f9;
}

.lineLegend {
  width: 10px;
  height: 2px;
  margin-right: 12px;
  background: #30c5c5;
}
