.pieChartBox {
  width: 480px;
  height: 360px;
  background: #ffffff;
}

.pieChartContainer {
  padding: 30px;
}

.pieChartInfo {
  display: flex;
}

.pieChart {
  width: 230px;
  height: 220px;
  background: #ffffff;
}

.countInfo {
  color: #333333;
  font-weight: 400;
  font-size: 14px;

  .count {
    padding-right: 8px;
    font-size: 36px;
  }
}
