.searchOrder {
  width: 100%;
}
.orderContent {
  width: 1200px;
  margin: 20px auto;
}
.orderFooter {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.orderTotal {
  margin-bottom: 12px;
  color: #999999;
}
.orderEmpty {
  width: 100%;
  margin-bottom: 20px;
  padding: 50px 0;
  background-color: #fff;
}
