@import '@/css/common.less';

.factoryCard {
  margin-top: 20px;
  background-color: #fff;
}

.cardHeader {
  padding: 12px 0;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  border-bottom: 1px solid #f0f0f0;
}
.titleName {
  padding-left: 16px;
  border-left: 5px solid #3b80ff;
}

.factoryCardContent {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @white;

  :global {
    li {
      padding: 8px 12px;
      border-bottom: 1px solid @borderColor;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
.cardImg {
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.label {
  display: flex;
  white-space: nowrap;
}
.tagIcon {
  margin-right: 4px;
  font-size: 20px;
}
.factoryName {
  display: block;
  padding: 6px 0;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
}

.factoryInfo {
  display: flex;
  padding: 4px 0;
}
.noDate {
  margin: 0;
  padding: 40px 0;
  background-color: #fff;
}
