.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff0f0f0;
}
.textCn {
  margin-right: 12px;
  color: #333333;
  font-weight: 500;
  font-size: 28px;
}
.textEn {
  color: #999999;
  font-weight: 400;
  font-size: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
}
.certificateImg {
  width: auto;
  max-width: 300px;
  height: 280px;
  margin-bottom: 16px;
  // border: 1px solid #3b80ff;
}
.imgBox {
  display: flex;
  flex-wrap: wrap;
}
.certificateBox {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
