.btnConcatBox {
  display: flex;
  justify-content: flex-end;
}

.btnConcatLeft {
  margin-right: 12px;
}

.uploadTips {
  color: #999999;
  font-size: 14px;
}

.customFormNodeInput {
  // min-width: 300px !important;
  height: auto !important;
}
