.noBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeOrder {
  margin-top: 24px;
  // margin-left: 20px;
}
.quoteInfo {
  height: 48px;
}
.receiveGoodsNum {
  height: 30px;
}
