@import '@/css/common.less';

.controlPanel {
  width: 100%;
  background: @containerBg;
}
.controlPanelContainer {
  width: 1200px;
  margin: 0 auto;
}
.controlPanelLeft {
  float: left;
  width: 256px;
  height: calc(100vh - 40px);
  background-color: #001529;
}
.controlPanelRight {
  width: auto;
  height: 500px;
  margin-left: 260px;
  padding: 4px 12px;
}
.contentTitle {
  width: 100%;
  padding: 8px 0;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
