@import '@/css/common.less';

.controlPanel {
  width: 100%;
  // background: @containerBg;
  background: #a5b3a3;
}
.controlPanelContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  // background-color: @white;
  background-color: #98b79a;
}
.controlPanelLeft {
  position: sticky;
  top: 0;
  // float: left;
  min-width: 256px;
  height: calc(100vh-120px);
  background-color: #001529;
}
.controlPanelRight {
  flex: 1;
  width: auto;
  // margin-left: 260px;
  padding: 4px 12px;
}
.contentTitle {
  width: 100%;
  padding: 8px 0;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
