.workshopEquipment {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}
.nameCn {
  color: #333333;
  font-weight: 500;
  font-size: 28px;
}
.nameEn {
  margin-bottom: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 18px;
}
.right {
  width: 430px;
  padding: 30px 20px;
  background-color: #fff;
}
.left {
  // display: flex;
  // justify-content: space-between;
  width: 740px;
  background-color: #fff;
  position: relative;
}
.upIcon{
  transform: rotate(
    180deg
    );
}
