.swiper-container {
  // width: 100%;
  // height: 100%;
  --swiper-pagination-color: #fff; /* 两种都可以 */
}

.swiper-pagination {
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.4);
}
#equipment-top{
  width: 560px;
  height: 560px;
  float: left;
  .swiper-slide {
    /* Center slide text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: 18px;
    text-align: center;
    background: #fff;
  }
  
  .swiper-slide img {
    display: block;
    width: 560px;
    height: 560px;
    object-fit: cover;
  }

}
.equipment-button-next{
  top: 12px;
}
.equipment-button{
  position: absolute;
  right: 20px;
  font-size: 24px;
  width: 136px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #F0F0F0;
}
.equipment-button-prev{
  bottom: 12px;
}
.swiper-button-next {
  opacity: 0;
}
.swiper-button-prev{
  opacity: 0;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
#equipment-thumbs {
  box-sizing: border-box;
  height: 79%;
  margin-top: 8%;
  // padding: 10px 0;
  .swiper-slide {
    width: 25%;
    height: 136px;
    opacity: 0.4;
  }
}
#equipment-thumbs .swiper-slide {
  width: 25%;
  height: 136px;
  opacity: 0.4;
}
#equipment-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
#equipment-top {
  .swiperItem {
    height: 500px;
  }

  .swiper-slide {
    height: 500px;
  }
}
#equipment-thumbs {
  float: right;
  width: 136px;
  margin-right: 20px;
  .factory-small-img {
    width: 136px;
    height: 136px;
    img {
      max-width: 136px;
      max-height: 136px;
    }
  }
}
