.orderChunk {
  display: flex;
  justify-content: space-between;
}

.chunkTitle {
  padding-bottom: 12px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  // border-bottom: 1px solid #e0e0e0;
}

.cards {
  width: 320px;
  padding: 12px;
  background-color: #fff;
}

.card {
  display: flex;
  align-items: center;
  width: 260px;
  height: 100px;
}

.cardImg {
  display: block;
  width: 90px;
  height: 90px;
  margin-right: 10px;
}

.cardInfo {
  flex: 1;
}

.title {
  padding-bottom: 8px;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}

.text {
  color: #333;
  font-size: 14px;
}

.text2 {
  display: flex;
  color: #333;
  font-size: 14px;

  span {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
