.searchTitle {
  font-size: 18px;
  color: #7f7f7f;
  font-weight: bold;
}

.icon {
  display: inline-block;
  margin-right: 16px;
  font-size: 30px;
}

.areaTitle {
  margin-right: 16px;
  font-weight: bold;
  font-size: 20px;
  color: #7f7f7f;
}

.areaOrders {
  color: #1296db;
}
