.searchContainer {
    width: 1200px;
    padding: 12px;
    margin: 0 auto;
    background: #fff;
}

.searchTitle {
    padding-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    color: #7f7f7f;
    border-bottom: 1px solid #e0e0e0;
}

.icon {
    display: inline-block;
    margin-right: 16px;
    font-size: 30px;
}

.areaTitle {
    margin-right: 16px;
    font-size: 20px;
    font-weight: bold;
    color: #7f7f7f;
}

.areaOrders {
    color: #1296db;
}

.searchContent {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;

    :global {
        .l7-bottom {
            display: none;
        }
    }
}

.areaKeys {
    display: flex;
    align-items: center;
}

.areaTab {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 64px;
    padding: 0 12px;
    margin: 0 16px 12px 0;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
}

.areaTabL {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    line-height: 100%;
    color: #333;
}

.areaTabC {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    line-height: 100%;
    color: #333;
}

.areaActiveTab {
    background: #1890ff;

    .areaTabL,
    .areaTabC {
        color: #fff;
    }
}

.areaChunk {
    display: flex;
    align-items: center;
    height: 90px;
    margin-bottom: 12px;
    border: 5px solid #81d3f8;
    border-radius: 5px;
}

.areaIcon {
    margin-right: 12px;
    font-size: 60px;
}

.areaChunkL {
    display: flex;
    align-items: center;
    width: 260px;
    height: inherit;
    border-right: 5px solid #81d3f8;
}

.province {
    padding-right: 8px;
    font-size: 20px;
    font-weight: bold;
}

.city {
    display: inline-flex;
    flex-wrap: wrap;
    height: 14px;
    padding: 0 8px;
    line-height: 14px;
    border-right: 1px solid #333;

    &:nth-child(4) {
        border-right: none;
    }

    &:nth-last-child(1) {
        color: #c280ff;
        border-right: none;
    }

    &:nth-child(1) {
        margin-bottom: 16px;
        color: #333;
    }
}

.areaChunkR {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    padding-left: 48px;
}
