.orderContainer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 12px 0;
}

.orderTypes {
    width: 280px;
    height: 348px;
    padding: 16px 12px;
    background: #fff;
}

.orderTypesTitle {
    padding-bottom: 16px;
    font-size: 16px;
}

.typesTitle {
    padding-bottom: 8px;
    font-size: 14px;
    color: #ff4d2b;
}

.orderType {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.orderTypeTitle {
    width: 70px;
    font-size: 12px;
    font-weight: bold;
}

.orderTypeItems {
    display: flex;
}

.orderTypeItem {
    margin-right: 8px;
    font-size: 12px;
    cursor: pointer;
}

.orderCenterContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderImgs {
    display: flex;
    justify-content: space-between;
    width: 614px;
}

.orderImgsMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.orderImg1 {
    display: block;
    width: 268px;
    height: 206px;
}

.orderImg2 {
    display: block;
    width: 176px;
    height: 96px;
}

.orderImg3 {
    display: block;
    width: 176px;
    height: 96px;
}

.orderImg4 {
    display: block;
    width: 135px;
    height: 156px;
}

.orderImgsRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.orderImgsRightT {
    display: flex;
    align-items: center;
    height: 100%;
}

.orderInfo {
    box-sizing: border-box;
    display: flex;
    width: 614px;
    height: 130px;
    padding: 16px 0;
    background: #fff;
}

.orderInfoTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color: #7f7f7f;
}

.orderInfoInner {
    display: flex;
    flex-wrap: wrap;
}

.orderInfoItem {
    width: 50%;
    text-align: center;
}

.infoItemT {
    display: inline-block;
    width: 56px;
    text-align: left;
}

.infoItemN {
    font-size: 32px;
    font-weight: bold;
    color: #f59a23;
}

.orderImg5 {
    display: inline-block;
    width: 250px;
}

.rightContent {
    position: relative;
    width: 400px;
}
