.cardContainer {
  margin-bottom: 20px;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #efefef;
}
.delContent {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.submitBtn {
  width: 120px;
  height: 40px;
}
.cancelBtn {
  width: 120px;
  height: 40px;
  margin-right: 20px;
}
.modal {
  padding-top: 48px;
  text-align: center;
}
.delIcon {
  margin-bottom: 24px;
  font-size: 68px;
}
.delText {
  color: #333333;
  font-size: 14px;
  text-align: center;
}
.delTitle {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.invalid {
  margin-left: 10px;
  color: #999999;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px;
  background: #f6f6f6;
}

.topHeader {
  background: #ebf2ff;
}

.left {
  display: flex;
}

.order {
  display: flex;
}

.orderLabel {
  padding-right: 8px;
  color: #999999;
}

.orderNum {
  display: inline-block;
  width: 140px;
  margin-right: 80px;
  overflow: hidden;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.refuse {
  margin-top: 10px;
}

.orderDate {
  display: inline-block;
  width: 80px;
  margin-right: 40px;
}

.cardTime {
  width: 140px;
  margin-right: 150px;
  color: #999999;
}

.orderImg {
  display: flex;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.orderInfo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 380px;
}

.orderName {
  width: 173px;
  margin-bottom: 8px;
  overflow: hidden;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.infoItem {
  display: flex;
  padding-right: 16px;
}

.infoLabel {
  width: 70px;
  color: #666666;
}

.infoValue {
  display: inline-block;
  width: 148px;
  overflow: hidden;
  color: #666666;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.produceInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 320px;
  height: 100px;
  padding-left: 16px;
}

.produceInfoItem {
  display: flex;
  align-items: center;
}

.produceInfoLabel {
  display: inline-flex;
  align-items: center;
  width: 90px;

  &::before {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 8px;
    background: #3b80ff;
    border-radius: 50%;
    content: '';
  }
}

.produceInfoValue {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  color: #666666;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.from {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 108px;
  height: 100px;
}

.btnBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
}

.status1 {
  display: flex;
  align-items: center;
  color: #ff3b30;
  font-weight: 800;

  &::before {
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    font-weight: 800;
    background: #ff3b30;
    border-radius: 50%;
    content: '';
  }
}

.status2 {
  display: flex;
  align-items: center;
  color: #999999;

  &::before {
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    background: #999999;
    border-radius: 50%;
    content: '';
  }
}

.status3 {
  display: flex;
  align-items: center;
  color: #ffa114;
  font-weight: 800;

  &::before {
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    font-weight: 800;
    background: #ffa114;
    border-radius: 50%;
    content: '';
  }
}

.status4 {
  display: flex;
  align-items: center;
  color: #45cb77;
  font-weight: 800;

  &::before {
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    font-weight: 800;
    background: #45cb77;
    border-radius: 50%;
    content: '';
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topRight {
  color: #3b80ff;
}

.delBtn {
  margin-top: 12px;
}
