.searchBarItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: block;
  min-width: 80px;
  margin-right: 12px;
  margin-left: 10px;
  text-align: right;
}

.labels {
  display: block;
  min-width: 80px;
  margin-right: 12px;
  margin-left: 62px;
  text-align: right;
}

.inputBox {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.line {
  min-width: 14px;
  height: 1px;
  margin: 0 4px;
  background: #333333;
}

.input {
  height: 32px !important;
}

.btnBox {
  padding-left: 24px;
}

.btn {
  width: 60px;
}
.btns {
  margin-right: 15px;
  margin-left: 15px;
}
