.receiveOrders {
  padding: 20px;
  background: #ffffff;
}

.pagenationBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyBox {
  padding: 100px;
  text-align: center;
}

.orderEmpty {
  display: block;
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.emptyText {
  padding-top: 16px;
  color: #999999;
}
