@import '@/css/common.less';

.overflowCard {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid @borderColor;
}
.factoryInfo {
  overflow: hidden;
  margin-bottom: 20px;
}
.factoryImg {
  display: block;
  float: left;
  margin-right: 12px;
  width: 200px;
}
.factoryName {
  padding-right: 8px;
}
.factoryTag {
  margin-right: 8px;
}
.factoryIcon {
  margin: 0 8px;
}
.factoryScore {
  font-size: 20px;
  margin-left: 12px;
  color: #000;
}
.factoryInfoList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  :global {
    li {
      width: 50%;
      float: left;
      padding: 8px 0;
    }
  }
}
.swiperBox {
  width: 70%;
  margin: 0 auto 20px;
}
.mySwiper {
  height: 200px;
}
.swiperItem {
  // width: 1200px;
  height: 200px;
  background: greenyellow;
}

.mySwiper {
  cursor: pointer;
}
