@import '@/css/common.less';

.overflowCard {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid @borderColor;
}

.factoryInfo {
    margin-bottom: 20px;
    overflow: hidden;
}

.factoryImg {
    display: block;
    float: left;
    width: 200px;
    margin-right: 24px;
}

.factoryName {
    padding-right: 8px;
}

.factoryTag {
    margin-right: 8px;
}

.factoryIcon {
    margin: 0 8px;
}

.factoryScore {
    margin-left: 12px;
    font-size: 20px;
    color: #000;
}

.factoryInfoList {
    padding: 12px 0;
    margin: 0;
    list-style: none;

    :global {
        li {
            padding: 8px 0;
        }
    }
}

.swiperBox {
    width: 70%;
    margin: 0 auto 20px;
}

.mySwiper {
    height: 200px;
}

.swiperItem {
    // width: 1200px;
    height: 200px;
    background: greenyellow;
}

.mySwiper {
    cursor: pointer;
}
