.swiperItem {
  // width: 1200px;
  height: 120px;
  background: greenyellow;
}

.mySwiper {
  cursor: pointer;
}
.swiper-container {
  width: 100%;
  height: 120px;
  --swiper-pagination-color: #fff; /* 两种都可以 */
  --swiper-navigation-color: rgba(0, 0, 0, 0.6); /* 单独设置按钮颜色 */
}

.swiper-pagination {
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.4);
}

.swiper-slide {
  height: 120px;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  // .swiper-img {
  //   width: 150px;
  //   height: 150px;
  // }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 10px;
  left: auto;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
