.Issuebill {
  margin-top: 30px;
  background: #ffffff;
}
.search {
  margin-top: 37px;
}
.toplistchild {
  width: 91px;
}
.inputleft {
  float: left;
  width: 500px;
  margin-left: -31px;
}
.Order {
  float: right;
  width: 400px;
  height: 100px;
  margin-right: 313px;
}
.Total {
  float: left;
  width: 427px;
  margin-left: -17px;
}
.bos {
  position: relative;
}

.btnReset {
  position: absolute;
  top: 72px;
  right: 194px;
  width: 88px;
  height: 53px;
}
.query {
  position: absolute;
  top: 71px;
  right: 108px;
  width: 88px;
  height: 40px;
}

.range {
  float: right;
  width: 442px;
  height: 100px;
  margin-top: -33px;
  margin-right: 272px;
}
.form {
  height: 127px;
}
.top {
  margin-left: 25px;
  font-size: 18px;
  line-height: 70px;
}
.ant-col ant-col-8 ant-form-item-label {
  margin-left: -47px;
}
.keyword {
  margin-left: -47px;
}
.location {
  position: relative;
}

.topbs {
  height: 70px;
}
.amount {
  width: 100%;
}
.progress {
  margin-top: 26px;
}
.inputc {
  width: 300px !important;
  height: 40px !important;
}
.inputd {
  width: 135px !important;
  height: 40px !important;
}
.topright {
  position: absolute;
  top: 18px;
  right: 30px;
  // margin-left: 40px;
  // border-bottom: 0px;
}

.spantext {
  margin-right: 40px;
  margin-left: 30px;
}
.tabletop {
  height: 40px;
  margin-top: 40px;
  line-height: 40px;
  text-align: center;
  background: #f6f6f6;
}
.Issuer {
  margin-top: 25px;
  margin-left: -11px;
}
