#gallery-top {
  .swiperItem {
    height: 300px;
  }

  .swiper-slide {
    height: 300px;
  }
}
#gallery-thumbs {
  .factory-small-img {
    width: 142px;
    height: 80px;
    img {
      max-width: 142px;
      max-height: 80px;
    }
  }
}
