.companiesIntroduce {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3b80ff;
  padding-bottom: 6px;
}
.textCn {
  color: #333333;
  font-weight: 500;
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  border-bottom: 4px solid #3b80ff;
  padding-bottom: 8px;
  margin-right: 12px;
}
.textEn {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  padding-bottom: 8px;
}
.focusOn {
  margin-right: 4px;
  font-size: 20px;
}
.active{
  color: #3b80ff;;

}
.focusBox {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
}
.boxActive{
  border: 1px solid #3b80ff;
  color: #3b80ff;
}
.boxNormal{
  border: 1px solid #999999;
  color: #999999;
}
.content {
  // padding-bottom: 24px;
}
.name {
  margin-right: 12px;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.factoryTag {
  // display: flex;
  // align-items: center;
  margin-right: 8px;
}
.tagIcon {
  margin-right: 4px;
  font-size: 16px;
}
.people {
  color: #999999;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.head{
  margin: 0 16px 0 8px;
}
.time{
  margin: 0 8px 0 24px;
}
.introduce{
  display: flex;
  margin-top: 16px;
}
.left{
  flex: 1;
}
.right{
  width: 240px;
  height: 280px;
  border: 2px solid #E9E9E9;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.text{
  background-color: #237EFF;
  color: #fff;
  text-align: center;
  padding: 8px 0px 8px;
  margin: -1px;
}
.photo{
  max-height: 90%;
  max-width: 90%;
  margin: 5%;
}
.abstract{
  margin-bottom: 36px;
  width: 740px;
}
.title{
  font-size: 18px;
  font-weight: 500;
  border-left: 3px solid #237EFF;
  padding-left: 12px;
  margin-bottom: 16px;
}
.label{
  width: 150px;
  display: inline-block;
  font-weight:400;
}
.gutterRow{
  margin: 4px 0;
}
.strong{
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 450;
  color: #333333;
}
.strongNumber{
  font-size: 20px;
}