@import '@/css/common.less';
.detailHeader {
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(2, 167, 240, 1);
  display: flex;
  align-items: center;
  padding: 40px 12px;
}
.logo {
  width: 300px;
  margin-right: 160px;
}
.detailSearch {
  width: 500px;

  :global {
    .ant-input-group-addon {
      background-color: transparent !important;
    }
  }
}
