@import '@/css/common.less';

.detailHeader {
    display: flex;
    align-items: center;
    width: 1200px;
    padding: 40px 12px;
    margin: 0 auto;
    background-color: rgba(2, 167, 240, 1);
}

.logo {
    width: 300px;
    margin-right: 160px;
}

.detailSearch {
    width: 500px;

    :global {
        .ant-input-group-addon {
            background-color: transparent !important;
        }
    }
}
