@import '@/css/common.less';

.detailHeader {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #fff;
  border-top: 1px solid #e4e6e8;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

.logo {
  width: 140px;
  margin-right: 160px;
}

.detailSearch {
  width: 720px;
  :global {
    .ant-input-group-addon {
      background-color: transparent !important;
    }
    .ant-input-search-button {
      width: 120px;
      height: 44px;
    }
    .ant-input {
      border: none !important;
    }
  }
}
