.topping {
  height: 32px;
  margin-top: 20px;
  line-height: 32px;
  background-color: rgba(232, 242, 255, 1);
}
.noTopping {
  height: 32px;
  margin-top: 20px;
  line-height: 32px;
  background: #f6f6f6;
}
.cancelBtn {
  width: 120px;
  height: 40px;
  margin-right: 20px;
  border-radius: 2px;
}

.submitBtn {
  width: 120px;
  height: 40px;
  border-radius: 2px;
}
.modal {
  padding-top: 48px;
  text-align: center;
}

.delIcon {
  margin-bottom: 24px;
  font-size: 68px;
}
.delTitle {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.delText {
  color: #333333;
  font-size: 14px;
  text-align: center;
}
.delContent {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.requisition {
  margin-left: 10px;
}
.sheetName {
  color: #3333337a;
}
.hidden {
  width: 173px;
  margin-bottom: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.theme {
  border: 1px solid #ebf2ff;
}
.table {
  padding: 3px;
  border-top: 1px solid #41403f75;
}
.totalOrders {
  margin-left: 40px;
}
.tablefuls {
  width: 100%;
  height: 30px;
}
.spot {
  font-size: 20px;
}

// color: #45CB77;
.circleFather {
  color: #40a9ff;
}
.red {
  color: red;
}
.green {
  color: #45cb77;
}
.yellow {
  color: #faad14;
}
.grey {
  color: #bfbfbf;
}
.blue {
  color: #40a9ff;
}
.states {
  margin-right: 20px;
  margin-left: 10px;
}

.bos {
  padding-bottom: 5px;
  font-size: 12px;
}
.color {
  color: red;
}
.numberOfOrders {
  margin-right: 20px;
}
.checked {
  margin-top: 28px;
}
.imgRight {
  float: left;
  width: 240px;
  margin-top: 10px;
  color: #333333bd;
}
.imgRight p {
  margin-bottom: 7px;
}
.img {
  float: left;
  width: 160px;
  height: 160px;
  margin: 20px;
}
.factoryName {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
}
.information {
  margin-right: 7px;
  color: #40a9ff;
  font-size: 16px;
}

.names {
}
.diqu_bai {
  float: right;
  color: #666666;
}
.previous {
  font-size: 17px;
}
.quotationInformation {
  margin-top: 22px;
}
.feedback {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;
  border-right: 1px solid #ebf2ff;
  border-left: 1px solid #ebf2ff;
}
.feedback p {
  margin-bottom: 10px;
}
.state {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lin {
}

.moreOrder {
  margin-top: 10px;
}
.fontColor {
  color: #ff00007a;
}
.cursor {
  cursor: pointer;
}
.effect {
  color: #40a9ff;
}
.end {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(179 64 64);
}
.draft {
  color: #4da91f;
  line-height: 50px;
}
.already {
  color: rgb(179 64 64);
}
.validity {
  margin-top: 5px;
  margin-bottom: 5px;
}
.listHeaderSortIcon {
  // margin-right: 5px;
  // margin-left: 35px;
  float: right;
  margin-top: 10px;
  font-size: 18px;
}
.name {
  margin-top: 5px;
}
.details {
  cursor: pointer;
}

.stateBtnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  :global {
    .ant-btn-primary {
      width: 78px;
      margin-left: 10px;
    }
  }
}

.btn {
  margin-bottom: 10px;
  font-size: 12px;
  border-radius: 4px;
}

.btn2 {
  margin-left: 12px;
  font-size: 12px;
  border-radius: 4px;
}
