@import '@/css/common.less';

.factoryInfo {
  width: 100%;
}
.factoryInfoContent {
  background-color: @white;
  overflow: hidden;
  padding: 12px;
}
.factoryInfoMan {
  background-color: #e8e8e8;
  padding: 12px 24px;
}
.slideshow {
  width: 48%;
  margin-right: 2%;
  float: left;
}
.infoTitle {
  font-weight: bold;
}
.infoRight {
  width: 50%;
  float: left;
}
.infoImg {
  width: 100%;
}
.factoryName {
  font-size: 20px;
  margin-right: 20px;
}
.realName {
  font-size: 16px;
  margin: 0 12px;
  color: #d81e06;
}
.score {
  font-size: 20px;
  margin-left: 20px;
}
.infoIcon {
  margin-right: 4px;
}
.inspection {
  font-size: 16px;
  margin: 0 12px;
  color: #f1c438;
}
.factoryInfoList {
  list-style: none;
  padding: 0;
  margin: 12px 0;
  font-size: 12px;
  :global {
    li {
      padding: 8px 0;
    }
  }
}
.factoryInfoTag {
  color: #000;
}
.label {
  margin-right: 16px;
}
.firstLine {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.secondLine {
  padding: 8px 0;
  display: flex;
  width: 67%;
}
.secondLineItem {
  flex: 1;
}
.firstLineIcon {
  margin-left: 20px;
  cursor: pointer;
}
.icon {
  margin-right: 12px;
  font-size: 16px;
}
