@import '@/css/common.less';

.factoryInfo {
  width: 100%;
}

.factoryInfoContent {
  padding: 12px;
  overflow: hidden;
  background-color: @white;
}

.factoryInfoMan {
  padding: 12px 24px;
  background-color: #e8e8e8;
}

.slideshow {
  float: left;
  width: 48%;
  margin-right: 2%;
}

.infoTitle {
  font-weight: bold;
}

.infoRight {
  float: left;
  width: 50%;
}

.infoImg {
  width: 100%;
}

.factoryName {
  margin-right: 20px;
  font-size: 20px;
}

.realName {
  margin: 0 12px;
  color: #d81e06;
  font-size: 16px;
}

.score {
  margin-left: 20px;
  font-size: 20px;
}

.infoIcon {
  margin-right: 4px;
}

.inspection {
  margin: 0 12px;
  color: #f1c438;
  font-size: 16px;
}

.factoryInfoList {
  margin: 12px 0;
  padding: 0;
  font-size: 12px;
  list-style: none;

  :global {
    li {
      padding: 8px 0;
    }
  }
}

.factoryInfoTag {
  color: #000;
}

.label {
  margin-right: 16px;
}

.firstLine {
  display: flex;
  padding: 8px 0;
}
.firstLineItem {
  flex: 1;
}
.firstLineRight {
  padding-right: 20px;
  text-align: right;
}

.secondLine {
  display: flex;
  width: 65.5%;
  padding: 8px 0;
}

.secondLineItem {
  flex: 1;
}

.firstLineIcon {
  margin-left: 20px;
  cursor: pointer;
}

.icon {
  margin-right: 12px;
  font-size: 16px;
}
