@import '@/css/common.less';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  // overflow: auto;
  color: @baseColor;
  background: #ffffff;
}

.header {
    // border-bottom: 1px solid @borderColor;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}

.content {
  flex: 1;
  display: flex;
  width: 100%;
  background: #f2f2f2;
  // min-height: calc(100% - 160px);
//   background-color: rgb(219, 218, 216);
}

.headerSelect {
    min-width: 80px;
    margin: 0 16px 0 0 !important;
}

.left {
    display: flex;
    align-items: center;
}

.tips {
    cursor: pointer;

    &:hover {
        color: @hoverColor;
    }
}

.center {
    flex: 1;
}

.link {
    margin-right: 12px;
    color: @baseColor;

    &:hover {
        color: @hoverColor;
    }
}

.footerBox {
  background: #e9e9e9;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  color: #999999;
}


.footerItems {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.footerItem {
  margin-right: 40px;
}



.footerTopBox {
  border-bottom: 1px solid #CFCFCF;
}

.footerTop {
  display: flex;
  padding: 24px 84px 32px 12px;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  width: 160px;
  height: 32px;
}

.logoText {
  padding-top: 8px;
  width: 185px;
  font-size: 12px;
  font-weight: 500;
  color: #999999;
  letter-spacing: 25px;
}

.footerTopRight {
  display: flex;
  align-items: center;
}

.topItem {
  margin-left: 114px;
  display: flex;
  align-items: center;
}

.topItemIcon {
  font-size: 36px;
  margin-right: 20px;
}

.topItemLabel {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}

.topItemValue {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}
