.header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 8px 0;
    margin: 0 auto;
}

.orangeText {
    color: #f59a23;
    cursor: pointer;
}

.chunks {
    .headerChunk {
        padding: 0 16px;
        color: #7f7f7f;
        cursor: pointer;
        border-right: 1px solid #7f7f7f;

        &:nth-last-child(1) {
            border-right: none;
        }
    }
}
