.header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 50px;
  background: #ffffff;
}

.orangeText {
  color: #f59a23;
  cursor: pointer;
}

.chunks {
  padding: 0 12px;
  &:hover {
    background-color: #fff;
    .headerChunk {
      color: #1890ff;
    }
  }

  .headerChunk {
    padding: 0 16px;
    color: #333333;
    border-right: 1px solid #7f7f7f;
    cursor: pointer;
    &:hover {
      color: #1890ff;
    }
    .workbench {
      font-size: 55px;
    }

    &:nth-last-child(1) {
      border-right: none;
    }
  }
}
.routerItems {
  display: inline-block;
  width: 50%;
  margin-top: 10px;
  margin-right: -30px;
  // // padding: 8px 0;
  color: #333333;
  white-space: nowrap;
}
.headerLeftest {
  margin-left: 400px;
}

.headerLeft {
  display: flex;
}
.icon {
  font-size: 16px;
}
.homeIcon {
  margin-right: 8px;
  font-size: 16px;
}

.home {
  display: flex;
  align-items: center;
  margin-right: 80px;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  line-height: 60px;

  :hover {
    .homeIcon {
      color: #40a9ff;
    }
  }
}

.verticalBar {
  margin: 0 20px;
  color: #d4d4d4;
  font-size: 12px;
}
.logoIcon {
  margin-right: 8px;
  font-size: 20px;
}
.consoleIcon {
  font-size: 18px;
  &:hover {
    color: #1890ff;
  }
}

.menuContent {
  padding: 8px 16px;
}
.menuItem {
  display: flex;
  align-items: center;
}
.menuIcon {
  margin-right: 10px;
  font-size: 18px;
}
.consoleBox {
  display: flex;
  align-items: center;
  color: #333333;
  &:hover {
    color: #1890ff;
  }
}

.userIcon {
  margin-right: 8px;
  font-size: 16px;
}

.user {
  display: inline-flex;
  align-items: center;
  padding: 2px 12px 0;
  color: #333333;
  line-height: 54px;
  cursor: pointer;
  &:hover {
    color: #1890ff;
    background-color: #fff;

    .userIcon {
      color: #1890ff;
    }
  }
}

.title {
  margin-top: 8px;
  padding-left: 12px;
  font-weight: 800;
  line-height: 14px;
  border-left: 3px solid #1890ff;
}
.titleContent {
  padding: 5px 0 8px 10px;
}
.console {
  min-width: 220px;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 9px 2px rgb(0 0 0 / 8%);
}
.routerItem {
  display: inline-block;
  // padding: 8px 0;
  margin-top: 10px;
  margin-right: 18px;
  color: #333333;
  white-space: nowrap;
}

.logo {
  display: inline-block;
  width: 140px;
  margin-right: 80px;
}
.homeName {
  font-size: 14px;
}
