.demand {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #ffff;
}
.information {
  height: 200px;
}
.formConfirm {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
}
.button {
  width: 120px;
  height: 40px;
  margin-right: 50px;
}

.button2 {
  width: 120px;
  height: 40px;
}

.commodity {
  position: relative;
}
.payment {
  position: absolute;
  bottom: -13px;
  left: 105px;
  width: 271px;
  color: #6b6a6a;
  font-size: 12px;
}
.extension {
  position: absolute;
  bottom: 3px;
  left: 100px;
  color: #6b6a6a;
  font-size: 12px;
}
