.information {
  height: 200px;
}
.quantity {
  :global {
    .ant-form-item-control-input-content input {
      width: 100px;
    }
  }
}
.basic {
  :global {
    .ant-form-item-label {
      // margin-right: 50px;
    }
    .customFormNodeInput {
    }
    .ant-form-item-control-input {
      // width: 320px;
    }
    .ant-select-selector {
      height: 40px;
    }
  }
}

.field {
  margin-top: 10px;
  margin-bottom: -10px;
}
.textArea {
  margin-top: 2px;
  margin-left: 23px;
}
.xing {
  float: left;
  margin-right: 5px;

  margin-left: 32px;
  color: red;
  line-height: 38px;
}
.division {
  margin: 5px;
}
.category {
  margin-left: 22px;
}
.modify {
  :global {
    .ant-upload-list-picture-card {
      width: 720px;
    }
    .ant-form-item {
      margin-top: 21px;
    }
  }
}
.textArea {
  :global {
    .ant-input-textarea-show-count {
      width: 745px;
    }
  }
}
.requirements {
  margin-top: 4px;
  margin-left: 22px;
}
